# creation

In [1]:
d={'name':'arun','age':21,'company':'hcl technologies ltd','salary':500}

In [2]:
d

{'name': 'arun', 'age': 21, 'company': 'hcl technologies ltd', 'salary': 500}

In [15]:
dict([('name','kumar'),('salary',500)])

{'name': 'kumar', 'salary': 500}

In [14]:
d

{'name': 'arun', 'age': 21, 'company': 'hcl technologies ltd', 'salary': 500}

## accessing

In [17]:
d['name']

'arun'

### updating dictionary

In [18]:
d['city']='karimnagar'

In [20]:
print(d)

{'name': 'arun', 'age': 21, 'company': 'hcl technologies ltd', 'salary': 500, 'city': 'karimnagar'}

In [21]:
d['city']='jammikunta'

In [23]:
print(d)

{'name': 'arun', 'age': 21, 'company': 'hcl technologies ltd', 'salary': 500, 'city': 'jammikunta'}

#### nesting dictionaries

In [26]:
d={'name': 'arun', 'age': 21, 'company': 'hcl technologies ltd', 'family':{'brother':'vivek','mother':'aruna','father':'bikshapathi'}}

In [28]:
print(d)

{'name': 'arun', 'age': 21, 'company': 'hcl technologies ltd', 'family': {'brother': 'vivek', 'mother': 'aruna', 'father': 'bikshapathi'}}

In [32]:
d['family']['mother'] ='komala'

In [34]:
d['family']['drand mother']='viramma'

In [36]:
print(d)

{'name': 'arun', 'age': 21, 'company': 'hcl technologies ltd', 'family': {'brother': 'vivek', 'mother': 'komala', 'father': 'bikshapathi', 'drand mother': 'viramma'}}

## dictionary functions and methods

In [37]:
d={'name': 'arun', 'age': 21, 'company': 'hcl technologies ltd', 'salary': 500, 'city': 'jammikunta'}

In [38]:
d.clear()

In [39]:
d

{}

In [40]:
d={'name': 'arun', 'age': 21, 'company': 'hcl technologies ltd', 'salary': 500, 'city': 'jammikunta'}

In [43]:
e=d.copy()

In [44]:
e

{'name': 'arun',
 'age': 21,
 'company': 'hcl technologies ltd',
 'salary': 500,
 'city': 'jammikunta'}

In [45]:
f=e

In [46]:
f

{'name': 'arun',
 'age': 21,
 'company': 'hcl technologies ltd',
 'salary': 500,
 'city': 'jammikunta'}

In [50]:
d.get('city')

'jammikunta'

In [51]:
d.items()

dict_items([('name', 'arun'), ('age', 21), ('company', 'hcl technologies ltd'), ('salary', 500), ('city', 'jammikunta')])

In [52]:
d.keys()

dict_keys(['name', 'age', 'company', 'salary', 'city'])

In [54]:
d.pop('salary')

500

In [55]:
d.popitem()

('city', 'jammikunta')

In [56]:
d

{'name': 'arun', 'age': 21, 'company': 'hcl technologies ltd'}

In [61]:
d.setdefault('arun','kumar'))

SyntaxError: unmatched ')' (<ipython-input-61-a73fadda72c5>, line 1)

In [63]:
d.setdefault('name')

'arun'

In [64]:
d.update({'wife':"xxxxx"})

In [65]:
d

{'name': 'arun',
 'age': 21,
 'company': 'hcl technologies ltd',
 'arun': None,
 'wife': 'xxxxx'}

In [68]:
d.update(a = 10,b = 20)

In [69]:
d

{'name': 'arun',
 'age': 21,
 'company': 'hcl technologies ltd',
 'arun': None,
 'wife': 'xxxxx',
 'a': 10,
 'b': 20}

In [70]:
d.values()

dict_values(['arun', 21, 'hcl technologies ltd', None, 'xxxxx', 10, 20])