  #                                                     STRINGS

'strings' are nothing but grouping of characters

something which is enclosed in ' '," ",''' ''' is valid python string

'strings are ordered data strctures

ordered data stractures means which provides indexing and slicicng

In [1]:
s='arun kumar'

In [3]:
s

'arun kumar'

In [4]:
type(s)

str

In [5]:
s1="arun"

In [6]:
s1

'arun'

In [7]:
s2='''arun kumar 
muduthanapelli'''

In [8]:
s2

'arun kumar \nmuduthanapelli'

In [9]:
print(s2)

arun kumar
muduthanapelli

'strings are immutable which means you can'nt modify the string at same memory location'

In [10]:
s='arun'

In [11]:
id(s)

1540143029168

In [12]:
s='arun kumar'

In [13]:
id(s)

1540143079600

# Indexing and slicing

indexing is used to grab a single character from a string

slicing is used to grab a sub string from a string

Thre are two types of indexing positive i.e. from left to right 
negative from right to left

In [14]:
s='arun kumar'

In [15]:
s[0]

'a'

In [16]:
len(s)

10

In [17]:
s[9]

'r'

In [18]:
print(s[8])

a

In [19]:
s[100]  #IndexError: string index out of range

IndexError: string index out of range

In [20]:
s[-100]

IndexError: string index out of range

In [21]:
s[-1]

'r'

In [22]:
s[-10]

'a'

# slicing

In [23]:
#syntax is [start:stop:stride]

In [24]:
s

'arun kumar'

In [25]:
s[0:8]

'arun kum'

In [26]:
s[:8]

'arun kum'

In [27]:
s[0:]

'arun kumar'

In [28]:
#here stride defines a direction positive means from left to right and negative means from right to left

In [30]:
s[0:7:1]

'arun ku'

In [31]:
s[::2]

'au ua'

In [32]:
s[100:]

''

In [33]:
s[:100]

'arun kumar'

In [35]:
s[100:0:-1]

'ramuk nur'

In [36]:
s[-1:-8:]

''

In [37]:
s[-1:-8:-1]

'ramuk n'

In [38]:
s[::-1]

'ramuk nura'

# string functions

the following are the string functions

In [40]:
s='arun kumar'

In [41]:
help(s.capitalize)

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [42]:
s.capitalize()

'Arun kumar'

In [43]:
s.capitalize()

'Arun kumar'

In [44]:
s.center(40,'j')

'jjjjjjjjjjjjjjjarun kumarjjjjjjjjjjjjjjj'

In [45]:
s='arun kumar'

In [46]:
s

'arun kumar'

In [52]:
s1='a123'

In [48]:
s

'a123'

In [49]:
s.isalpha()

False

In [50]:
s='a'

In [51]:
s.isalpha()

True

In [53]:
s1.isalnum()

True

In [54]:
s='arun kumar'

In [55]:
s.replace('a','z')

'zrun kumzr'

In [56]:
s.rfind('a')

8

In [57]:
s.rfind('z')

-1

In [58]:
s.rindex('a')

8

In [67]:
s.rindex('r',8)

9

In [68]:
s.rjust(19,'a')

'aaaaaaaaaarun kumar'

In [70]:
s.rpartition('u')

('arun k', 'u', 'mar')

In [71]:
s.rsplit('u')

['ar', 'n k', 'mar']

In [73]:
s.rstrip(' ')

'arun kumar'

In [74]:
help(s.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [75]:
s='arun kumar'

In [76]:
s

'arun kumar'

In [78]:
help(s.capitalize)

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [79]:
s.capitalize()

'Arun kumar'

In [80]:
s.casefold()

'arun kumar'

In [82]:
s.center(60,'a')

'aaaaaaaaaaaaaaaaaaaaaaaaaarun kumaraaaaaaaaaaaaaaaaaaaaaaaaa'

In [84]:
s.count('a',6,100)

1

In [85]:
s.endswith('mar')

True

In [86]:
s1='arun \t kumar'

In [88]:
s1.expandtabs(tabsize=1)

'arun   kumar'

In [90]:
len('   ')

3

In [91]:
len(s)

10

In [94]:
s.find('a',5)

8

In [96]:
s.index('z')

ValueError: substring not found

In [97]:
s.isalpha()

False

In [98]:
s

'arun kumar'

In [99]:
s='arunkumar'

In [100]:
s.isalpha()

True

In [102]:
s.isalnum()

True

In [103]:
s

'arunkumar'

In [104]:
s.isnumeric()

False

In [105]:
s.isdecimal()

False

In [106]:
s.isdigit()

False

In [107]:
s.islower()

True

In [108]:
s.isprintable()

True

In [109]:
s.isupper()

False

In [110]:
help(s.join)

Help on built-in function join:

join(iterable, /) method of builtins.str instance
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [111]:
l=['arun','kumar']

In [114]:
'  '.join(l)

'arun  kumar'

In [118]:
a=s.ljust(100,'x')

In [116]:
s.lstrip()

'arunkumar'

In [117]:
help(s.lstrip)

Help on built-in function lstrip:

lstrip(chars=None, /) method of builtins.str instance
    Return a copy of the string with leading whitespace removed.

    If chars is given and not None, remove characters in chars instead.

In [119]:
a

'arunkumarxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

In [120]:
a.rstrip('x')

'arunkumar'

In [121]:
s.lower()

'arunkumar'

In [122]:
len(s)

9

In [123]:
max(s)

'u'

In [124]:
min(s)

'a'

In [125]:
del s

In [126]:
s

NameError: name 's' is not defined

In [127]:
s='arun kumar'

In [128]:
help(s.partition)

Help on built-in function partition:

partition(sep, /) method of builtins.str instance
    Partition the string into three parts using the given separator.

    This will search for the separator in the string.  If the separator is found,
    returns a 3-tuple containing the part before the separator, the separator
    itself, and the part after it.

    If the separator is not found, returns a 3-tuple containing the original string
    and two empty strings.

In [129]:
s.partition('a')

('', 'a', 'run kumar')

In [130]:
s.replace('a','z')

'zrun kumzr'

In [131]:
help(s.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [132]:
s.split('r')

['a', 'un kuma', '']

In [133]:
s.split('u')

['ar', 'n k', 'mar']

In [138]:
s.split(sep='u',maxsplit=-100)

['ar', 'n k', 'mar']

In [139]:
s.rsplit('u')

['ar', 'n k', 'mar']

In [140]:
s.rsplit('a')

['', 'run kum', 'r']

In [141]:
help(s.rsplit)

Help on built-in function rsplit:

rsplit(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the words in the string, using sep as the delimiter string.

      sep
        The delimiter according which to split the string.
        None (the default value) means split according to any whitespace,
        and discard empty strings from the result.
      maxsplit
        Maximum number of splits to do.
        -1 (the default value) means no limit.

    Splits are done starting at the end of the string and working to the front.

In [142]:
s.rsplit()

['arun', 'kumar']

In [143]:
s.rpartition('a')

('arun kum', 'a', 'r')

In [144]:
s.split('a')

['', 'run kum', 'r']

In [145]:
help(s.splitlines)

Help on built-in function splitlines:

splitlines(keepends=False) method of builtins.str instance
    Return a list of the lines in the string, breaking at line boundaries.

    Line breaks are not included in the resulting list unless keepends is given and
    true.

In [148]:
s="""arun kuamr
aaaaaaa
aaaaaa      kumar"""

In [149]:
s.splitlines()

['arun kuamr', 'aaaaaaa', 'aaaaaa      kumar']

In [150]:
s.swapcase()

'ARUN KUAMR\nAAAAAAA\nAAAAAA      KUMAR'

In [151]:
help(s.swapcase)

Help on built-in function swapcase:

swapcase() method of builtins.str instance
    Convert uppercase characters to lowercase and lowercase characters to uppercase.

In [152]:
s.title()

'Arun Kuamr\nAaaaaaa\nAaaaaa      Kumar'

In [153]:
s.upper()

'ARUN KUAMR\nAAAAAAA\nAAAAAA      KUMAR'

In [154]:
s.zfill(60)

'000000000000000000000000arun kuamr\naaaaaaa\naaaaaa      kumar'

In [155]:
s.capitalize()

'Arun kuamr\naaaaaaa\naaaaaa      kumar'

In [156]:
s='arun kumar'

In [157]:
s.capitalize()

'Arun kumar'

In [158]:
s.casefold()

'arun kumar'

In [159]:
s.center(90,'x')

'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxarun kumarxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

In [160]:
s.count('a')

2

In [161]:
s.count('a',5)

1

In [162]:
s.endswith('mar')

True

In [163]:
s.endswith('mar',5)

True

In [164]:
s.find('a')

0

In [165]:
s.find('a',5,100)

8

In [166]:
s.isalnum()

False

In [167]:
s.isalpha()

False

In [169]:
s.isnumeric()

False

In [170]:
s.isspace()

False

In [171]:
s.istitle()

False

In [172]:
s.isprintable()

True

In [173]:
l=["arun","kumar","0223"]

In [174]:
' '.join(l)

'arun kumar 0223'

In [175]:
s.lower()

'arun kumar'

In [176]:
s.lstrip()

'arun kumar'

In [177]:
s.ljust(90,'c')

'arun kumarcccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc'

In [178]:
s.partition('a')

('', 'a', 'run kumar')

In [179]:
s.rpartition('a')

('arun kum', 'a', 'r')

In [180]:
s.rjust(90,'x')

'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxarun kumar'

In [182]:
s.rsplit()

['arun', 'kumar']

In [183]:
s.rstrip()

'arun kumar'

In [184]:
s.split('a')

['', 'run kum', 'r']

In [185]:
s.rpartition('a')

('arun kum', 'a', 'r')

In [186]:
s.rfind('a')

8

In [187]:
s.rindex('a')

8

In [188]:
s.rstrip('x')

'arun kumar'

In [190]:
s.rsplit('a')

['', 'run kum', 'r']

In [191]:
s.rpartition('r')

('arun kuma', 'r', '')

In [192]:
s.rsplit('r')

['a', 'un kuma', '']

In [193]:
s.swapcase()

'ARUN KUMAR'

In [194]:
s.upper()

'ARUN KUMAR'

In [195]:
print('my name is {}'.format('arun'))

my name is arun

In [197]:
'my name is {} and my age is {}'.format('arun','kumar')

'my name is arun and my age is kumar'

In [199]:
'my name is {1} and my age is {0}'.format(21,'kumar')

'my name is kumar and my age is 21'

In [201]:
'my name is {a} and my age is {a}'.format(a='arun',age=21)

'my name is arun and my age is arun'

# .format with float

In [203]:
# syntax  {value:width.precision f}

In [204]:
result=100/77

In [205]:
result

1.2987012987012987

In [212]:
'my result is {:50.7f}'.format(result)

'my result is                                          1.2987013'

In [213]:
a=10

In [214]:
a

10

In [215]:
b=20

In [216]:
b

20

In [217]:
c=a+b

In [218]:
c

30

In [219]:
'my name is %s'%'arun'

'my name is arun'

In [221]:
'my name is %s and my age is %r'%('arun',21)

'my name is arun and my age is 21'

In [222]:
'my name is %r'%('arun')

"my name is 'arun'"

In [223]:
# from above you can understand the difference between %s and %r

In [224]:
'my name is %s and my age is %s'%('arun',21)

'my name is arun and my age is 21'

In [225]:
name='arun'

In [227]:
age=21

In [228]:
'my name is %s and my age is %s'%(name,age)

'my name is arun and my age is 21'

### floating formatting with the placeholder

In [229]:
result=1000/777

In [230]:
result

1.287001287001287

In [231]:
'my result is %10.2f'%(result)

'my result is       1.29'

In [233]:
'my name is %s'%'arun'

'my name is arun'

In [234]:
'my result is %f'%result

'my result is 1.287001'

In [235]:
'my result is %d'%result

'my result is 1'

In [236]:
#from above you can understand the difference between %s and %d and %r %r is repr()

In [239]:
print('{1:20} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:9}'.format('Apples', 3.))
print('{0:8} | {1:9}'.format('Oranges', 10))

Quantity             | Quantity
Apples   |       3.0
Oranges  |        10

In [247]:
'my name is {1:*^10} and my age is {0:.<20}'.format('arun',21)

'my name is ****21**** and my age is arun................'

In [250]:
'my name is  {0:*<20}'.format('arun')

'my name is  arun****************'

In [251]:
result=100/77

In [255]:
'my result is {a:10.2f}'.format(a=result)

'my result is       1.30'

In [257]:
f'my result is {result:10.2f}'

'my result is       1.30'

In [258]:
'my result is %10.2f'%(result)

'my result is       1.30'

In [261]:
print('{0:*^10}|{1:.^10}'.format('kumar','arun'))

**kumar***|...arun...

In [262]:
'my result is %10.2f'%(result)

'my result is       1.30'

In [263]:
'my result is {r:10.2f}'.format(r=result)

'my result is       1.30'

In [265]:
f'my result is {result:10.2f}'

'my result is       1.30'