## sets creation

In [53]:
s={1,2,3,4,5,6,7,8,9}

In [30]:
t={1,2,3,4,5,6,7,8,9,10,11,12,13,14}

In [3]:
set('arun')

{'a', 'n', 'r', 'u'}

In [4]:
set(['arun','kumar'])

{'arun', 'kumar'}

In [12]:
a=set()#empty set

In [13]:
type(a)

set

In [14]:
a

set()

In [15]:
t

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

## accessing elements from sets

In [16]:
#sets doesn't support indexing and slicing so you can use for loop only

In [20]:
for i in t:
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14

## set functions and metrhods

In [21]:
len(t)

14

In [22]:
max(t)

14

In [23]:
min(t)

1

In [24]:
clear(t)

In [25]:
t

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

## methods

In [26]:
t.add(100)

In [27]:
t

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 100}

In [28]:
t.clear()

In [29]:
t

set()

In [31]:
u=t.copy()

In [32]:
u

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [33]:
t.difference(s)

{10, 11, 12, 13, 14}

In [34]:
s.difference(t)

set()

In [43]:
s.difference_update(t)

In [44]:
s

set()

In [41]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [45]:
t

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [50]:
t.difference_update(s)

In [47]:
t

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [51]:
s

set()

In [49]:
help(set.difference_update)

Help on method_descriptor:

difference_update(...)
    Remove all elements of another set from this set.

In [54]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [57]:
s.discard(9)

TypeError: discard() takes exactly one argument (2 given)

In [58]:
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [59]:
s.intersection(t)

{1, 2, 3, 4, 5, 6, 7, 8}

In [60]:
s.intersection_update(t)

In [61]:
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [62]:
t

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [63]:
help(set.intersection_update)

Help on method_descriptor:

intersection_update(...)
    Update a set with the intersection of itself and another.

In [105]:
a={1,2,3}

In [106]:
b={4,5,6,1,2,3}

In [66]:
a.intersection_update(b)

In [67]:
a

{1}

In [70]:
a

{1, 2, 3}

In [71]:
b.intersection_update(a)

In [72]:
b

{1}

In [79]:
a.isdisjoint(b)

False

In [82]:
a.issubset(b)

True

In [83]:
b.issubset(a)

False

In [84]:
a.issuperset(b)

False

In [85]:
b.issuperset(a)

True

In [86]:
a.pop()

1

In [90]:
a

{1, 2, 3}

In [91]:
a.remove(2)

In [92]:
a

{1, 3}

In [94]:
a.symmetric_difference(b)

{4, 5, 6}

In [95]:
a.symmetric_difference_update(b)

In [96]:
a

{4, 5, 6}

In [97]:
b.symmetric_difference_update(a)

In [104]:
b

{1, 2, 3}

In [103]:
a

{4, 5, 6}

In [101]:
a.difference(b)

{4, 5, 6}

In [102]:
b.difference(a)

{1, 2, 3}

In [107]:
a.difference(b)

set()

In [108]:
b.difference(a)

{4, 5, 6}

In [109]:
a.symmetric_difference(b)

{4, 5, 6}

In [118]:
a={1,2,3,4,5,6,7}

In [119]:
b={1,2,3,4,5,6}

In [120]:
a.difference(b)

{7}

In [121]:
b.difference(a)

set()

In [114]:
a

{1, 2, 3}

In [115]:
b

{1, 2, 3, 4, 5, 6}

In [122]:
a.symmetric_difference(b)

{7}

In [123]:
b.symmetric_difference(a)

{7}

In [124]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [126]:
a.update('arun')

In [127]:
a

{1, 2, 3, 4, 5, 6, 7, 'a', 'n', 'r', 'u'}