

#                                                       PYTHON

What is programming:
1)Programmiung is used to create an algorithm
2)Those algorithms are used in games,web amd applications
3)progrmming language may be java,python and javascript or many more

What is python:
python is nothing but open source progrmming language.
it is same as other programming languages.
it also consists of data types
,condition flows,functions and oops concepts
but it was mainly used in data sciece because of it's libraries
it consists of many open sourced libraries for data analysis and data manipulation.
and python syntax was very use
Due to above reasons python was most used language by programmers

# Basic syntax in python

In [2]:
print("hello","arun kumar","!")

hello arun kumar !

# Identifier in python:

in programming language identifier is nothing but name given by users.
those names are used for variables,functions,clasees and modules
these are strats with A-Z or a-z and followed by 0-9 and _
for classes names always starts with capital letters
for remaining identifiers names are always starts with small letters
those identifiers are case sensitive.
if variables strats with _ its a private variable
if variables starts with double _ its a strong private variable
if variable starts with double _ and ends with _ its a language defined names

# ARGUMENT ASSISGNING

In [3]:
a=10
a

10

In [4]:
a=10,20
a

(10, 20)

In [5]:
a,b,c=10,20,30

In [6]:
a

10

In [7]:
b

20

In [8]:
c

30

In [12]:
a=b=c=11

In [13]:
a

11

In [14]:
b

11

In [15]:
c

11

# NUMBERS IN PYTHON

Python supports three kind of numbers
1)integers
2)floating point numbers
3)complex numbers

INTEGERS:
integers nothing but whole numbers
ex:1,2,3,4
float:nothing but numbers with decimal point
ex:1.22,3.44,5.6666,666666.777777
complex:nothing but combination of real and imaginary numbers
ex:1+2j,3+0j

# PYTHON AS CALUCLATOR

The python intreprator simply acts as caluclator itself
just you need to write an expression using +,-,*,/,**  operators
and you can use (()) pranthesis to group expressions.

In [16]:
1+2

3

In [17]:
1-2

-1

In [18]:
1*3

3

In [20]:
12/6

2.0

"/" always gives floating point numbers you can see above instance

In [21]:
12//6

2

"//"now you can see // gives you integer data type

In [22]:
6*2

12

In [23]:
6**2
#** gives you square of expresions it acts as 6^2

36

In [24]:
12+2-5

9

first intreprator is looking forward to check highest operator so here - is highest operator
so first it subtracts 5 from 2 then it add the answer to 12
12-3
9

In [25]:
#GROUPING
(1+12)-3

10

in these instance intreprator looking forward to perform operation expression which wrote on pranthesis and then perform operation in outside

In [26]:
(1+12-3*2)/5

1.4

# Floating point numbers

In [27]:
a=1.222333

In [28]:
a.as_integer_ratio()

(1376224610830665, 1125899906842624)

In [29]:
help(float.as_integer_ratio)

Help on method_descriptor:

as_integer_ratio(self, /)
    Return integer ratio.

    Return a pair of integers, whose ratio is exactly equal to the original float
    and with a positive denominator.

    Raise OverflowError on infinities and a ValueError on NaNs.

    >>> (10.0).as_integer_ratio()
    (10, 1)
    >>> (0.0).as_integer_ratio()
    (0, 1)
    >>> (-.25).as_integer_ratio()
    (-1, 4)

In [30]:
1376224610830665/1125899906842624

1.222333

In [38]:
a.is_integer()

False

In [36]:
help(float.fromhex)

Help on built-in function fromhex:

fromhex(string, /) method of builtins.type instance
    Create a floating-point number from a hexadecimal string.

    >>> float.fromhex('0x1.ffffp10')
    2047.984375
    >>> float.fromhex('-0x1p-1074')
    -5e-324

# COMPLEX NUMBERS

In [39]:
a=1+2j

In [40]:
a.conjugate()

(1-2j)

In [42]:
a.imag

2.0

In [43]:
a.real

1.0

# DATA TYPES

python has two types of data sets:
1)sequential data types ex:strings,lists,tuples
2)assequential data types ex:dictionaries,sets

sequential data types:
in these kind of datasets data in sequential order
asquential data types:
in these kind of data sets data in asequential order

# strings

strings are nothing but collection of characters
string is nothing but sequence of characters
ex:'arun kumar'
here
a=character
'arun kumar'=string
strings are enclosed with '," and '''
either youn can use ' or " to enclose a string
''' are used to enclose paragraph

In [1]:
a="arun kumar"

In [2]:
a

'arun kumar'

In [3]:
a='arun kumar'

In [4]:
a

'arun kumar'

In [2]:
p="""karthik
kumar
salman"""

In [20]:
p

'karthik\n     kumar\n    salman'

In [3]:
print(p)

karthik
kumar
salman

In [4]:
#use single quotes in strings in case of if string was enclosed with double quotes or viceversa

in any case if you are working with data types you need to know following steps
1)creation
2)manipulation
3)deletion
   here manipulation deals with
   overriding
   uoadtion

## creation of string

if you want to create a string you have only two options
1)by assign string to variable
2) by using input() method
here if you use input() method automatically intrepratot takes it as string

assigning a string to variable:
 for these method you can use '," and '''
    either you can use ' or " 
    ''' are used for paragraphs

In [5]:
#ex
a='arun kumar'
a

'arun kumar'

In [6]:
a="arun kumar"

In [7]:
print(a)

arun kumar

In [10]:
a="i'am arun kumar"
a
#a='i'am arunb kumar' it's a invalid case

"i'am arun kumar"

In [11]:
a='''arun
kumar'''
a

'arun\nkumar'

In [12]:
print(a)

arun
kumar

In [13]:
a=input()

arun kumar

In [14]:
a

'arun kumar'

In [15]:
type(a)

str

In [16]:
len(a)

10

In [17]:
clear(a)

In [18]:
a

'arun kumar'

In [19]:
a.clear()

AttributeError: 'str' object has no attribute 'clear'

In [20]:
del a

In [21]:
a

NameError: name 'a' is not defined

In [22]:
a="arun"

In [23]:
a

'arun'

In [24]:
clear(a)

In [25]:
a

'arun'

In [27]:
a

'arun'

In [28]:
a="kumar"

In [29]:
a#from above example we can see that we can over write a string

'kumar'

### sequential datasets supports indexing and slicing

# indexing:

indexing is used to grab a single character from string based on index
index is nothing but space allocated to character in string




************slicing and indexing always followed with[]************

In [32]:
a='arun kumar'
#here space also one character
a

'arun kumar'

In [33]:
a[0]

'a'

In [34]:
a[-2]

'a'

In [ ]:
# a
len(a)

In [36]:
a[-9]

'r'

In [37]:
a[0]==a[-10]

True

In [38]:
a[9]==a[-1]

True

In [39]:
#always indexing starts with '0'

## slicing

slicing is used to access or grab substring or sub section of string

In [40]:
a="arun kumar"

In [41]:
a

'arun kumar'

a[0:2:1]
here 
  syntax is [start:end:step]
  
start==satrt
end==end-1
step==user input

by default start is '0'
end is len(string)
step is optional by default 1

In [43]:
a

'arun kumar'

In [44]:
a[0:5:1]

'arun '

in above example starts with 0 i.e. a
end with 5-1 i.e. 4 here it is ' '
and it access each and every letter because stpe is 1

In [46]:
a[0:9:2]

'au ua'

In [47]:
a[100:0]

''

In [50]:
a[:100]

'arun kumar'

In [51]:
a[0:100:-1]

''

In [56]:
a[-10:-1:1]

'arun kuma'

In [57]:
a[-10:-2:-1]

''

In [58]:
a[8:-9:-1]

'amuk nu'

In [59]:
a[2:9:-1]

''

In [60]:
a[2:9:1]

'un kuma'

In [61]:
a='arun'

In [62]:
a

'arun'

In [63]:
len(a)

4

In [65]:
a[0:4:1]

'arun'

In [66]:
a[0:4:-1]

''

In [67]:
a[0:-1:1]

'aru'

In [68]:
a[-1:-3:1]

''

In [69]:
a[-1:-3:-1]

'nu'

In [73]:
a[::-1]

'nura'

In [74]:
a[::1]

'arun'

In [76]:
a[-3:-1:1]

'ru'

In [77]:
a[3:0:-1]

'nur'

# string formatting

string formatting is used to edit string basically
there are many ways to edit strings
1).format()
2)fstring(formatted string literals)

the normal strimg formatting is injecting a variable into print function by using a conctanation process
a='kumar'
print('arun'+a)
there are many ways to do like this
it's called string inter polation

### .format() method:

#### syntax:
#####  'string {} starts here{} engs here'.format('sometrhing1''something2')

In [14]:
'arun {} {} {} {}'.format("kumar","0223",[1,2,3],23,45)
#in above code {} are used as a place holders

'arun kumar 0223 [1, 2, 3] 23'

In [18]:
#string formatting can be used with indexes als0
'arun{1} {0} {1} {1} {1}'.format('0223','kumar')

'arunkumar 0223 kumar kumar kumar'

In [24]:
#string fomatting also can be used with key words bu arguments passing
'arun {k} {a}'.format(a=223,k='kumar')

'arun kumar 223'

##### .format method can also used to formatting floats

syntax:
    "string starts here{value:width.precision f}".format("something1","something2")

In [42]:
r=10/44
r

0.22727272727272727

In [45]:
'your result is {a:10.3f}'.format(a=r)

'your result is      0.227'

## fstring method

In [46]:
name='arun'
age=21

In [47]:
f'he is name is {name} and age is {age} years old'

'he is name is arun and age is 21 years old'

syntax:
  f'string starts here{'something1'} and {'something2'}'

# Formatting strings with palce holders

In [57]:
print('my name is %s %s'%('arun','kumar'))

my name is arun kumar

in formating with pace holdersb you can use key %

In [58]:
#ex:
print('this is %s'%'arun')

this is arun

In [59]:
print('this is %s %s'%('arun','kumar'))

this is arun kumar

In [61]:
a='arun'
b='kumar'
print('this is %s %s'%(a,b))

this is arun kumar

we have seen about %s
now we have to look about %s
both %s and %r are used to convert any kind of data into a string
bur %r and repr() is deliver the string representation of a object witj including quotes and escape sequences
but if you gave any esacpe characters in %s it assumes that.

In [62]:
print("my name is %s %s"%('arun','kumar'))

my name is arun kumar

In [65]:
print("my name is %s %r"%('arun','kumar'))

my name is arun 'kumar'

In [67]:
print("my name is %s %r"%('arun','\nkumar'))

my name is
arun '\nkumar'

The %s converts any kind of data into string
numbers to string 
but we have another operators i.e.%d
it gives a number with out rounding with sign what ever you are giving
look at below example

In [68]:
print('my age is %s'%21.4)

my age is 21

In [73]:
print('my age is %d'%-21.4444444444)

my age is -21

and we have two more operators 
1)%u (unsigned decimal integer)
2)%f (for floating point numbers)

In [74]:
print('my age is %u'%-21.33)

my age is -21

In [76]:
print('my floating point number is:%f'%21.22)
#it will give you answer with six decimal points
#but you can edit to wahts ever you want by giving padding and precision
#please look at below line

my floating point number is:21.220000

In [80]:
print('my floating point number is %10.2f'%13.22222222)
#in above line 10 is used for padding and 2f is used to show two floating point numbers that is two decimal point numbers after '.'

my floating point number is      13.22

## MULTIPLE STRING FORMATTING

In [86]:
print("my name is %s i'm from %r and my age is %d and my monthly salary is %5.3f and my credit card balance is %u" %('arun','karimnagar',21.97,16.500,-128.2))

my name is arun i'm from 'karimnagar' and my age is 21 and my monthly salary is 16.500 and my credit card balance is -128

%s
%r
%d
%u
%f
%i

# Alignment, padding and precision with .format()

In [153]:
print('{0:10}:  {1:10}'.format('student','marks'))
print('{0:10}:  {1:10}'.format('arun',75))
#in {} first number indiactes integer second number inducates the total space give to the string
#generally strings are alignes to left side and numbers are aligned to right side so you have to use these symbols <>,^ for alignment

student   :  marks
arun      :          75

In [160]:
print('{0:^10}:  {1:^10}'.format('student','marks'))
print('{0:^10}:  {1:^10}'.format('arun',75))

 student  :    marks
...arun...:  ****75****

> for totally right 
< for totally center
^ for center

In [168]:
#you can precede the alignment operator with padding character just look at below example
print('{0:.^10} : {1:.^20}'.format('student','marks'))
print('{0:.^10} : {1:@^10}'.format('arun',75))

.student.. : .......marks........
...arun... : @@@@75@@@@

In [188]:
print('my floating point number is:%5.5f'%13.22222)
print('my floating point number is {0:5.5f}'.format(13.2222222))
#if yu put f succed by value it gives a total 5 floatingpoint numbers other wise it gives you a floating point number with 5 characters except .
print('my floating point number is {0:5.5}'.format(13.2222222))

my floating point number is:13.22222
my floating point number is 13.22222
my floating point number is 13.222

In [191]:
a='arun kumar'
f'my name is {a}'
#if you put !r peced a variable it gives you a string format
f'my name is {a!r}'

"my name is 'arun kumar'"

In [192]:
f'my name is {a}'

'my name is arun kumar'

## Floating formatting with fstring:

syntax is:
{value:{width}.{precision}}

In [202]:
f'your floating point number is:{12.3333:{6}.{3}}'

'your floating point number is:12.333'

In [203]:
f'your floating point number is:{12.3333:{6}.{3}f}'

'your floating point number is:12.333'

In [205]:
'my floating point number is:{0:5.3f}'.format(12.4444)

'my floating point number is:12.444'

In [208]:
num=23.2222222222
f'my floating point numbers is:{num:{5}.{3}f}'

'my floating point numbers is:23.222'

# STRING FUNCTIONS AND METHODS

function is nothing but function()
method takes str.method()

The normal string functions are

In [276]:
a='arun kumar'

In [226]:
len(a)

10

In [227]:
max(a)

'u'

In [229]:
min(a)

' '

The normal string methods are

In [245]:
a='arun kumar'

In [241]:
a.capitalize()#the method is used to covert a first letter of string in to upper case,it doesn't have any arguments

'Arun kumar'

In [247]:
a.casefold()#thse method converts entire string into lower case,it doesn't have any arguments

'arun kumar'

center() method

center(self, width, fillchar=' ', /)
    Return a centered string of length width.
    
    Padding is done using the specified fill character (default is a space).

In [251]:
a.center(50,'z')

'zzzzzzzzzzzzzzzzzzzzarun kumarzzzzzzzzzzzzzzzzzzzz'

count()

count(...)
    S.count(sub[, start[, end]]) -> int
    
    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [256]:
a.count('a',1,len(a))

1

In [261]:
a.endswith('mar',4,len(a))#endswith(...)
                         #S.endswith(suffix[, start[, end]]) -> bool

True

In [270]:
b='arun \t kumar'
b.expandtabs(80)#expandtabs(self, /, tabsize=8)

'arun                                                                             kumar'

In [279]:
a.find('a',4,len(a))#S.find(sub[, start[, end]])

8

In [284]:
a.index('a',4,len(a))#index(...)
    #S.index(sub[, start[, end]])
#it same as find but difference is it gives a value error if character is not find mean while find gives -1

8

In [294]:
z='a1234rarar56'
#help(str.isalnum)
z.isalnum()

True

In [301]:
y='arun kumar'
y.isalpha()

False

In [312]:
x='31233'
x.isdecimal()
#help(str.isdecimal)

True

In [314]:
z='1232'
z.isdigit()

True

In [316]:
#help(str.isdigit)
a.isidentifier()

False

In [320]:
x="def"
x.isidentifier()

True

In [322]:
a.islower()

True

In [324]:
a.isprintable()

True

In [327]:
a.isspace()

False

In [332]:
a='Arun Kamr'
a.istitle()

True

In [334]:
a='arun kumar'

In [346]:
a.join('vishal')

'varun kumariarun kumarsarun kumarharun kumaraarun kumarl'

In [352]:
a.ljust(50,'z')

#help(str.ljust)

'arun kumarzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz'

In [359]:
a='       arun kumar'
a.lower()

'       arun kumar'

In [416]:
a.lstrip()
#help(str.lstrip)

'arun kumar          '

In [448]:
b=a.maketrans('arun','arun')

In [367]:
help(str.maketrans)

Help on built-in function maketrans:

maketrans(...)
    Return a translation table usable for str.translate().

    If there is only one argument, it must be a dictionary mapping Unicode
    ordinals (integers) or characters to Unicode ordinals, strings or None.
    Character keys will be then converted to ordinals.
    If there are two arguments, they must be strings of equal length, and
    in the resulting dictionary, each character in x will be mapped to the
    character at the same position in y. If there is a third argument, it
    must be a string, whose characters will be mapped to None in the result.

In [374]:
a.maketrans({'a':1})

{97: 1}

In [384]:
a='arun kumar'
a.partition('m')

('arun ku', 'm', 'ar')

In [399]:
a.replace('a','m',2)#by default count is -1 if you give 1 it changes only one occurance of sub string 2 means it changes 2 occurances of substring

'mrun kummr'

In [405]:
a.rfind('a',2,len(a))

8

In [409]:
a.rindex('a',2,len(a))

8

In [413]:
a='arun kumar'
a.rjust(50,'a')

'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaarun kumar'

In [414]:
a.rpartition('a')

('arun kum', 'a', 'r')

In [430]:
a='than kumar          '
a.rsplit()
a

'than kumar          '

In [423]:
a.rstrip()

'arun kumar'

In [431]:
a.split(sep='a',maxsplit=2)

['th', 'n kum', 'r          ']

In [439]:
a='''arun 
kumar'''
a.splitlines()

['arun ', 'kumar']

In [443]:
print(a.swapcase())

ARUN
KUMAR

In [446]:
print(a.title())

Arun
Kumar

In [460]:
a.translate()

TypeError: translate() takes exactly one argument (0 given)

In [470]:
b='kumar'
__getitem__=b.maketrans('kumar','hgfgs')
__getitem__

{107: 104, 117: 103, 109: 102, 97: 103, 114: 115}

In [467]:
help(str.translate)

Help on method_descriptor:

translate(self, table, /)
    Replace each character in the string using the given translation table.

      table
        Translation table, which must be a mapping of Unicode ordinals to
        Unicode ordinals, strings, or None.

    The table must implement lookup/indexing via __getitem__, for instance a
    dictionary or list.  If this operation raises LookupError, the character is
    left untouched.  Characters mapped to None are deleted.

In [476]:
b.translate(__getitem__)

'hgfgs'

In [478]:
a.upper()

'ARUN \nKUMAR'

In [479]:
a.zfill(50)

'000000000000000000000000000000000000000arun \nkumar'


# string properties

In [458]:
__getitem__

{97: 97, 114: 114, 117: 117, 110: 110}

string supports following:
1)indexing
2)slicing
3)cocatanation
4)repetation have seen indexing and slicing already but now we have to see concatanation and repetation

concatation is nothing but adding.we can use + symbol for it

In [209]:
#ex:
a='arun kumar'
a

'arun kumar'

In [210]:
a[0]='A'

TypeError: 'str' object does not support item assignment

 so from above example we can see that assigning to string is not possible.but we can do that using cocatanation and slicing procress

In [218]:
b=a[1:]
b

'run kumar'

In [221]:
c='A'+b
c

'Arun kumar'

## repetation:

In [223]:
#repetation is used to repeat the string how many times you want
c*5
#here c is variable and number is used to no of repetations do you want

'Arun kumarArun kumarArun kumarArun kumarArun kumar'

# LISTS

Lists are nothing but a order sequence 
that can hold a variety of object types

lists are build with []
the elements in list seperated by a ,
lists also supports indexing and slicing
lists can be a nested
and it also has different methods and functions like string

In [11]:
l=[1,3.44,56.33]

In [6]:
type(l)

list

In [7]:
len(l)

3

In [20]:
max(l)

56.33

# creation of lists

In [13]:
list("arun")

['a', 'r', 'u', 'n']

In [17]:
a='arun kumar'

it's a special method in this you are using split() method of string

In [24]:
a='armun kumar'

In [26]:
a.split(sep='m',maxsplit=1)

['ar', 'un kumar']

In [1]:
b=input('enter your name')
c=b.split()
c

enter your namearun kumar

['arun', 'kumar']

# Deletion of lists

In [4]:
a=['arun',223,'0.334455']
a

['arun', 223, '0.334455']

In [9]:
clear(a)

In [12]:
del a

In [13]:
a

NameError: name 'a' is not defined

# overriding lists

In [16]:
a=['arun','kumar',223,45.99]

In [17]:
a

['arun', 'kumar', 223, 45.99]

In [18]:
a[0]

'arun'

In [19]:
a[0]='kumar'

In [20]:
a

['kumar', 'kumar', 223, 45.99]

list supports dupliclation of elements

# indexing and slicing of lists

In [21]:
#list supports indexing and slicing

In [37]:
l=['arun','kumar',223,16.512,'vishal','vivek']

In [25]:
print(l[0])

arun

In [26]:
print(l[-1])

16.5

In [27]:
l[3]==l[-1]

True

In [30]:
l[3:len(l):1]

[16.5, 'vishal', 'vivek']

In [32]:
l[::-1]

['vivek', 'vishal', 16.5, 223, 'kumar', 'arun']

In [33]:
l[0:4:-1]

[]

In [34]:
l[:-1:1]

['arun', 'kumar', 223, 16.5, 'vishal']

In [35]:
l[-1::-1]

['vivek', 'vishal', 16.5, 223, 'kumar', 'arun']

In [38]:
l[4:-6:-1]

['vishal', 16.512, 223, 'kumar']

In [40]:
l[:-6:1]

[]

In [41]:
l[100::]

[]

In [42]:
l[:100]

['arun', 'kumar', 223, 16.512, 'vishal', 'vivek']

In [47]:
list(('arun','kumar',223))

['arun', 'kumar', 223]

In [ ]:
print('{0:*^10}  :  {1:*^10}'.format('type','type'))
print('{0:*^10}  :  {1:*^10}'.format('int','string'))
print('{0:*^10}  :  {1:*^10}'.format('float','string'))
print('{0:*^10}  :  {1:*^10}'.format('string','string'))

In [64]:
str(['arun','kumar'])

"['arun', 'kumar']"

In [74]:
str(123.22)

'123.22'

# list concatation and repetation

In [66]:
a=[1,2,3]
b=[4,5,6]

In [67]:
a+b

[1, 2, 3, 4, 5, 6]

In [68]:
a*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

# list functions and methods

In [103]:
l=[1,2,3,4,5,6]

In [70]:
len(a)

3

In [71]:
max(a)

3

In [72]:
min(a)

1

In [75]:
str(123)

'123'

# methods

In [81]:
l.append('arun')
l

[1, 2, 3, 4, 5, 6, 'arun']

In [82]:
l.clear()

In [83]:
l

[]

In [89]:
l.copy()

[1, 2, 3, 4, 5, 6]

In [93]:
l.count(1)

5

In [104]:
l.extend(['arun','kumar'])

In [105]:
l

[1, 2, 3, 4, 5, 6, 'arun', 'kumar']

In [106]:
l.index('arun')

6

In [108]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [109]:
l.insert(0,'kumar')

In [110]:
l

['kumar', 1, 2, 3, 4, 5, 6, 'arun', 'kumar']

In [111]:
l.pop()

'kumar'

In [112]:
l

['kumar', 1, 2, 3, 4, 5, 6, 'arun']

In [114]:
l.remove(1)

In [115]:
l

['kumar', 2, 3, 4, 5, 6, 'arun']

In [116]:
l.reverse()

In [117]:
l

['arun', 6, 5, 4, 3, 2, 'kumar']

In [118]:
l.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [119]:
a=[1,2,5,6,78,4,3,4,666,33]

In [129]:
a.sort(reverse=True)

In [126]:
a

[666, 78, 33, 6, 5, 4, 4, 3, 2, 1]

In [122]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

# TUPLES

## CREATION

In [1]:
a=(1,2,3,4)

tuples are nothing but order sequence of objects same as lists but tuples are immutable

In [2]:
a=1,2,3,4,5,6

In [3]:
type(a)

tuple

In [4]:
b=(1,2,3,4,5,6)

In [5]:
type(b)

tuple

In [6]:
tuple('arun')

('a', 'r', 'u', 'n')

In [7]:
tuple(['arun',223])

('arun', 223)

In [8]:
e=()

In [9]:
type(e)

tuple

In [10]:
e=(1)

In [11]:
type(e)

int

In [12]:
#so in above case if you give one literal in brackets it takes as int in order to make it is tuple put ','

In [13]:
a=(1,)

In [14]:
type(a)

tuple

TUPLES ALSO SUPPORTS INDEXING AND SLICING

In [22]:
a=(1,2,3,4,5,6,7,8,9)

In [16]:
type(a)

tuple

In [17]:
a[3]

4

In [18]:
a[0:56:-1]

()

In [19]:
a[1:4:1]

(2, 3, 4)

In [20]:
del a

In [23]:
a

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [25]:
clear(a)

In [26]:
a

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [27]:
a

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [29]:
a[0]='arun'

TypeError: 'tuple' object does not support item assignment

In [34]:
tuple(['arun','kumar',223,{'a':223}])

('arun', 'kumar', 223, {'a': 223})

In [35]:
a

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [37]:
a.count(1)

1

In [38]:
a.index(3)

2

In [39]:
a=[1,2,3,4,5,6,7,8,9]

In [50]:
['a' for i in range(1,10)]

['a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a']

In [51]:
('a' for i in range(1,10))

In [55]:
a=('arun',[1,2,3],{'a':'arun'})
a

('arun', [1, 2, 3], {'a': 'arun'})

still now we have studied about lists,strings and tuples those are sequential data types and from now we are going to look at asequence data types i.e. mappings 


here dictionaries are not sequential data types.those are mappings like hash tables in other programming languages

This section will serve as a brief introduction to dictionaries and consist of:
1.) Constructing a Dictionary
2.) Accessing objects from a dictionary
3.) Nesting Dictionaries
4.) Basic Dictionary Methods

So what are mappings? Mappings are a collection of objects that are stored by a key, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.
A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


dictionary consists of key and value pairs those are called as items not elemnts unlike sequential data set

creation of dictionary:dictionary items are enclosed by {} and seperated by a ','

In [58]:
d={"name":"arun","age":21,"company":"hcl technologies ltd","salary":1500}
#from above dictionary we can learn thay key should be unique and values may be duplicate and both can be any data type

In [59]:
d

{'name': 'arun', 'age': 21, 'company': 'hcl technologies ltd', 'salary': 1500}

In [60]:
type(d)

dict

In [61]:
e={}

In [64]:
type(e)

dict

In [67]:
f={'arun':'kuamar'}

In [68]:
f

{'arun': 'kuamar'}

In [72]:
dict([('arun','kumar'),('company','hindusthan computers ltd')])

{'arun': 'kumar', 'company': 'hindusthan computers ltd'}

In [74]:
d={"name":"arun","age":21,"company":"hcl technologies ltd","salary":1500}

In [75]:
d

{'name': 'arun', 'age': 21, 'company': 'hcl technologies ltd', 'salary': 1500}

In [77]:
d['name']

'arun'

In [78]:
d['brother']='vivek'

In [81]:
print(d)

{'name': 'arun', 'age': 21, 'company': 'hcl technologies ltd', 'salary': 1500, 'brother': 'vivek'}

In [82]:
d['name']='tharun'

In [83]:
d

{'name': 'tharun',
 'age': 21,
 'company': 'hcl technologies ltd',
 'salary': 1500,
 'brother': 'vivek'}

In [84]:
print(d)

{'name': 'tharun', 'age': 21, 'company': 'hcl technologies ltd', 'salary': 1500, 'brother': 'vivek'}

# nesting dictionaries

In [98]:
d={'name': 'tharun', 'age': 21, 'company': 'hcl technologies ltd', 'salary': 1500}

In [93]:
d['family']

{'brother': 'vivek', 'mother': 'aruna', 'father': 'bikshapathi'}

In [94]:
d['family']['mother']

'aruna'

In [96]:
d.clear()

In [97]:
d

{}

In [100]:
print(d.copy())

{'name': 'tharun', 'age': 21, 'company': 'hcl technologies ltd', 'salary': 1500}

In [102]:
help(dict.fromkeys)

Help on built-in function fromkeys:

fromkeys(iterable, value=None, /) method of builtins.type instance
    Create a new dictionary with keys from iterable and values set to value.

In [111]:
d.fromkeys([('name','kumar'),2])

{('name', 'kumar'): None, 2: None}

In [109]:
d

{'name': 'tharun',
 'age': 21,
 'company': 'hcl technologies ltd',
 'salary': 1500}

In [110]:
help(dict.fromkeys)

Help on built-in function fromkeys:

fromkeys(iterable, value=None, /) method of builtins.type instance
    Create a new dictionary with keys from iterable and values set to value.

In [114]:
d.get('name')

'tharun'

In [113]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [116]:
print(d.items())

dict_items([('name', 'tharun'), ('age', 21), ('company', 'hcl technologies ltd'), ('salary', 1500)])

In [117]:
d.keys()

dict_keys(['name', 'age', 'company', 'salary'])

In [122]:
d.pop('salary','company')

'company'

In [119]:
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

In [121]:
d

{'name': 'tharun', 'age': 21, 'company': 'hcl technologies ltd'}

In [125]:
d

{'name': 'tharun', 'age': 21}

In [124]:
d.popitem()

('company', 'hcl technologies ltd')

In [129]:
d.setdefault('company')

In [127]:
help(dict.setdefault)

Help on method_descriptor:

setdefault(self, key, default=None, /)
    Insert key with a value of default if key is not in the dictionary.

    Return the value for key if key is in the dictionary, else default.

In [130]:
d

{'name': 'tharun', 'age': 21, 'company': None}

In [142]:
d.update(('salary',60000))

ValueError: dictionary update sequence element #0 has length 6; 2 is required

In [136]:
help(dict.update)

Help on method_descriptor:

update(...)
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

In [143]:
d.values()

dict_values(['tharun', 21, None])

In [160]:
d.update((y = 50))

SyntaxError: invalid syntax (<ipython-input-160-017c2fc749ec>, line 1)

In [146]:
d

{'name': 'tharun', 'age': 21, 'company': None, 'salary': 500}

In [159]:
d = {'x': 2}

d.update(y = 3, z = 0)
print(d)

{'x': 2, 'y': 3, 'z': 0}

In [161]:
d={'name':'arun'}

In [162]:
d

{'name': 'arun'}

In [167]:
d.update(a = 2,b = 3)

In [168]:
d

{'name': 'arun', 'a': 2, 'b': 3}

# sets

set is nothing but data collection 
the elements of set enclosed in {} and seperates by ,
but set avoid duplication

In [4]:
s={'arun','kumar','arun'}

In [5]:
s

{'arun', 'kumar'}

## creation of sets

In [56]:
s={1,1,1,1,2,2,2,2,3,3,3,3,3,5,4,6,89,6,7,8,9,10,98,100}

In [15]:
set({'arun':1,'salary':1300})#creation of set from dictionary

{'arun', 'salary'}

## updating sets

In [18]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 89}

sets didn't support indexing and slicing but you can use for loop

In [26]:
for i in s:
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 89

In [22]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

## change items in sets

In [29]:
s.add(123)

In [38]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 89}

In [77]:
t={99,101,102,103,1}

In [41]:
t

{98, 99, 100, 101, 102, 103}

In [31]:
help(set.clear)

Help on method_descriptor:

clear(...)
    Remove all elements from this set.

In [32]:
s.clear()

In [33]:
s

set()

In [35]:
s.copy()

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 89}

In [42]:
s.difference(t)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 89}

In [43]:
t.difference(s)

{98, 99, 100, 101, 102, 103}

In [44]:
s.difference_update

In [57]:
s.difference_update(t)

In [58]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 89, 98, 100}

In [60]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 89, 98, 100}

In [62]:
s.discard(100)

In [63]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 89, 98}

In [78]:
s.intersection(t)

{1}

set()

In [79]:
help(set.intersection_update)

Help on method_descriptor:

intersection_update(...)
    Update a set with the intersection of itself and another.

In [80]:
s.update(t)

In [81]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 89, 98, 99, 101, 102, 103}

In [82]:
s.isdisjoint(t)

False

In [83]:
help(set.isdisjoint)

Help on method_descriptor:

isdisjoint(...)
    Return True if two sets have a null intersection.

In [105]:
a={1,2,3,4,5}
b={1,2,3,4,5,6,7,8,9}

In [85]:
a

{1, 2, 3, 4, 5}

In [86]:
b

{6, 7, 8, 9, 10}

In [90]:
a.isdisjoint(b)

False

In [93]:
b.issubset(a)

False

In [95]:
a.issuperset(b)

False

In [96]:
b.issuperset(a)

True

In [97]:
b.pop()

1

In [98]:
b

{2, 3, 4, 5, 6, 7, 8, 9}

In [103]:
b.remove(3)

In [104]:
b

{4, 5, 6, 7, 8, 9}

In [100]:
help(set.remove)

Help on method_descriptor:

remove(...)
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [107]:
a.symmetric_difference(b)

{6, 7, 8, 9}

In [108]:
a.symmetric_difference_update(b)

In [109]:
a

{6, 7, 8, 9}

In [111]:
b.symmetric_difference_update(a)

In [112]:
b

{1, 2, 3, 4, 5}

In [113]:
a

{6, 7, 8, 9}

In [115]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [119]:
a.update('arun')

In [120]:
a

{6, 7, 8, 9, 'a', 'arun', 'n', 'r', 'u'}

## booleans

booleans are nothing but operators i.e.TRUE AND FALSE and these are three key words satrt with capital letter these are also have a place holder called None


here true and false values are 1 and 0

In [121]:
a=True

In [122]:
a

True

In [124]:
a == 1

True

In [125]:
print(a)

True

In [126]:
type(a)

bool

In [127]:
b=2

In [128]:
b>5

False

In [129]:
a=None

In [131]:
type(a)

NoneType

In [133]:
type(print())

NoneType

In [134]:
False==0

True