In [1]:
a=[1,2,3,4,5,6]

In [2]:
for i in a:
    print(i)

1
2
3
4
5
6

In [3]:
for i in a:
    if i%2==0:
        print(i)

2
4
6

In [8]:
for i in a:
    if i % 2==0:
        print(i)
    if i%2==1:
        print("*")

*
2
*
4
*
6

In [18]:
for i in range(1,10):
    print('a',end=' ')
    for j in range(1,10):
        print('*',end=' ')
    print()

a * * * * * * * * *
a * * * * * * * * *
a * * * * * * * * *
a * * * * * * * * *
a * * * * * * * * *
a * * * * * * * * *
a * * * * * * * * *
a * * * * * * * * *
a * * * * * * * * *

In [46]:
for i in range(0,5):
    for j in range(0,i+1):
        print(i,end=' ')
    print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [48]:
for i in range(0,5+1):
    for j in range(0,5+1):
        if j<=5-i:
            print(i,end=' ')
        else:
            print(j,end=' ')
    print()

0 0 0 0 0 0
1 1 1 1 1 5
2 2 2 2 4 5
3 3 3 3 4 5
4 4 2 3 4 5
5 1 2 3 4 5

In [53]:
for i in range(1,5+1):
    for j in range(1,5+1):
        if j==i:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    
    print()

*
  *
    *
      *
        *

In [55]:
a='arun'
for i in a:
    print(i)

a
r
u
n

## while loop

it is used to perform iterations like for loop.a while loop execute a single statement or group of statements until a condition becomes true so this called loop because the code statements execute over and over again until condition no longer met.

syntax:
while test:
    code statements
else:
    final code statements

In [8]:
a=0

while a<=10:
    print('arun')
    a=a+1

arun
arun
arun
arun
arun
arun
arun
arun
arun
arun
arun

you can use loops also control statements like if else
just example below

In [15]:
age=0
while age<=10:
    print('he is a kid')
    age+=1
else:
    print("he is in elementory school")

he is a kid
he is a kid
he is a kid
he is a kid
he is a kid
he is a kid
he is a kid
he is a kid
he is a kid
he is a kid
he is a kid
he is in elementory school

## we can use break,continue and pass

break- escape form current loop
continue-to the top of lop
pass-go to next line

In [29]:
age=0
while age<=10:
    print('current age :',age)
    age+=1
    if age==3:
       
        continue

current age : 0
current age : 1
current age : 2
current age : 3
current age : 4
current age : 5
current age : 6
current age : 7
current age : 8
current age : 9
current age : 10

In [31]:
for i in range(1,10):
    pass

## useful operators

## RANGE

RANGE is nothing but generator
generator is nothing but function it grnerates a information with out saving it to memory

In [2]:
tuple(range(1,10))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [3]:
str(range(1,10))

'range(1, 10)'

In [4]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
set(range(1,10))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
a=range(1,10)

In [7]:
a

range(1, 10)

In [8]:
a

range(1, 10)

## enumarate

enumarate also special function used in loops

In [18]:
index=0

for i,value in enumerate('abcde'):
    print('at index count{} value {}'.format(i,value))

at index count0 value a
at index count1 value b
at index count2 value c
at index count3 value d
at index count4 value e

In [22]:
index=0
for i in 'abcde':
    print('value at {} index of {}'.format(index,i))
    index+=1

value at 0 index of a
value at 1 index of b
value at 2 index of c
value at 3 index of d
value at 4 index of e

In [23]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [24]:
l1=[1,2,3]
l2=['a','b','c']

In [25]:
zip(l1,l2)

In [26]:
list(zip(l1,l2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [27]:
for i,v in zip(l1,l2):
    print(f'the values are {i} and {v}')

the values are 1 and a
the values are 2 and b
the values are 3 and c

## in and notin operator

In [35]:
l1=['a','r','u','n']

In [30]:
'a' in l1

True

In [32]:
'a' not in l1

False

## min and max operators

In [33]:
min(l1)

'a'

In [36]:
max(l1)

'u'

## list comprehenssion methods

list comprehensions methods are used to build out a list very quickly

In [39]:
list1=[i for i in 'abcde']

In [40]:
list1

['a', 'b', 'c', 'd', 'e']

In [41]:
[a for a in 'arun']

['a', 'r', 'u', 'n']

In [46]:
[i**2 for i in range(1,10) if i%2==0]

[4, 16, 36, 64]

## methods

methods are nothing but functions each and every method has own action

## functions and examples

In [9]:
def hello(name):
    'it will say hello'
    print('say hello:' ,name)

In [11]:
hello('arun')

say hello: arun

In [12]:
def add(num1,num2):
    return num1+num2#instead of print()

In [14]:
a=add(1,2)

In [15]:
a

3

In [18]:
add('arun',' kumar')

'arun kumar'

## difference between print() and return

In [19]:
#return
def num(a,b):
    return a+b

In [21]:
a=num(1,2)

In [22]:
a

3

In [23]:
type(a)

int

In [24]:
#print()
def sub(a,b):
    print(a-b)

In [27]:
b=sub(20,10)

10

In [28]:
type(b)

NoneType

In [29]:
b+b

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [30]:
a+a

6

## adding logoc to internal function

## %

In [31]:
20%2

0

In [32]:
def mod(number):
    return number%2

In [33]:
mod(20)

0

In [34]:
mod(21)

1

In [35]:
def mod(number):
    return number%2==0

In [36]:
mod(21)

False

In [37]:
mod(20)

True

## check whether the nuber is even or not

In [41]:
def even(number):
    if number%2==0:
        return 'even'
    else:
        return 'odd'

In [40]:
even(20)

'even'

In [42]:
even(21)

'odd'

## check if any number in list is even or odd

In [56]:
l=[3,4,6,8,21]

In [74]:
def eve(l):
    for i in l:
        if i%2==0:
           return True
        else:
            return False

In [76]:
eve([7,7,8])

False

In [91]:
def check_even_list(num_list):
    # Go through each number
    for number in num_list:
        # Once we get a "hit" on an even number, we return True
        if number % 2 == 0:
            return True
        # Don't do anything if its not even
        else:
            pass
    # Notice the indentation! This ensures we run through the entire for loop    
    return False

SyntaxError: 'return' outside function (<ipython-input-91-22999ce332f0>, line 11)

In [81]:
check_even_list([1,3,3])

False

### return all even numbers in list

In [107]:
def all(l):
    a=[]
    for i in l:
        if i % 2 == 0:
            a.append(i)
        else:
            pass
        
    print(a)

In [108]:
all([1,2,3,4,5,6,7,8,9,10])

[2, 4, 6, 8, 10]

In [87]:
a

3

In [101]:
def check_even_list(num_list):
    
    even_numbers = []
    
    # Go through each number
    for number in num_list:
        # Once we get a "hit" on an even number, we append the even number
        if number % 2 == 0:
            even_numbers.append(number)
        # Don't do anything if its not even
        #else:
            #pass
    # Notice the indentation! This ensures we run through the entire for loop    
    return even_numbers

In [102]:
check_even_list([1,2,3,4,5,6])

[2, 4, 6]

## returning tuples for unpacking

In [114]:
i = [('AAPL',200),('GOOG',300),('MSFT',400)]

In [112]:
for i in stock_prices:
    print(i)

('AAPL', 200)
('GOOG', 300)
('MSFT', 400)

In [115]:
for item,rupee in i:
    print(item)

AAPL
GOOG
MSFT

In [116]:
for item,rupee in i:
    print(rupee)

200
300
400

#### we are going to do above using function

In [119]:
def tup(i):
    for item,rupee in i:
        print(item)

In [120]:
tup([('AAPL',200),('GOOG',300),('MSFT',400)])

AAPL
GOOG
MSFT

In [121]:
from random import shuffle

In [122]:
l=[1,2,3]

In [123]:
shuffle(l)

In [124]:
l

[2, 3, 1]

In [125]:
my_list=[' ',' ','o']

In [128]:
def shuf(my_list):
    shuffle(my_list)
    return my_list

In [129]:
shuf([' ',' ',0])

[0, ' ', ' ']

## exercises

In [144]:
def less(num1,num2):
    if num1>num2:
        return num1
    elif num2>num1:
        return num2
    else:
        pass
    return 'both numbers are same'

In [145]:
less(1,2)

2

In [146]:
less(2,1)

2

In [147]:
less(2,2)

'both numbers are same'

## exercise 2

In [203]:
def string(s1):
    a=s1.split()
    if a[0][0]==a[1][0]:
        return True
    else:
        return False

In [205]:
string('arun Aumar')

False

## exetcise 3

In [208]:
def num(n1,n2):
    if n1==20 or n1+n2==20:
        return True
    else:
        pass
    return False

In [209]:
num(2,3)

False

In [210]:
num(20,2)

True

In [211]:
num(12,8)

True

### wrie a function that capitlaize the first and fourth name

In [230]:
def cap(s1):
    a=s1[0:3]
    c=a.capitalize()
    b=s1[3:]
    d=b.capitalize()
    return c+d

In [231]:
cap('arun kumar')

'AruN kumar'

In [306]:
def rev(s):
    t=s.split(' ')
    
    a='  '.join(list(reversed(t)))
    return a

In [307]:
rev('arun kumar')

'kumar  arun'

In [319]:
def ten(num):
    if num<90 or num<110 or num<190 or num>210:
        return 'no'
    else:
        pass 
    return 'yes'

In [320]:
ten(221)

'no'

In [321]:
ten(210)

'yes'

In [322]:
ten(111)

'no'

In [329]:
def a_33(l):
    for i in range((len(l)-1)):
        if l[i:i+2] == [3,3]:
            return True

In [330]:
a_33([1,3,3])

True

In [333]:
def arun(s):
    for i in s:
        print(i*3,end='')

In [334]:
arun('arun')

aaarrruuunnn

In [399]:
def sus(a,b,c):
    if a>=0 and a<=11 and b>=0 and b<=11 and c>=0 and c<=11:
        d=a+b+c
    else:
        return 'all numbers should be in 11'
    if d<=21:
        return d
    else:
        pass
        
    return 'bust'

In [403]:
sus(11,2,11)

'bust'

In [355]:
sus(14,2,1)1

17

In [404]:
a=[1,2,3,4]

In [405]:
a

[1, 2, 3, 4]

In [412]:
def ignore(arr):
    for i in range(len(arr)-1):
        if arr[i:i+]=[6,7,8,9]

SyntaxError: invalid syntax (<ipython-input-412-f5125b1fc6fe>, line 3)

In [407]:
l=[1,2,3,4,5]

In [411]:
sum=0
for i in l:
    sum+=i
print(sum)

15

In [1]:
def checksum(l):
    for i in range(:
        if l[i:]==[6] and

SyntaxError: invalid syntax (<ipython-input-1-3ee5de5c6827>, line 2)

In [5]:
def fun(arr):
    for i in range(len(arr)+1):
        if arr[i:i+3] == [0,0,7]:
            return True
        else:
            pass
    return False

In [7]:
fun([1,2,3,0,0,7])

True

In [8]:
fun([3,4,5,0,1,7])

False

In [9]:
fun([1,2,3,0,7])

False

## checking prime

In [145]:

def prime(low,upp):
    l=[]
    for i in range(low,upp+1):
        if i>1:
            for j in range(2,i):
                if i%j==0:
                    break
            else:
                l.append(i)
    print(l)
    print(len(l))

enter your first number10
enter your second number100

In [146]:
prime(0,100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
25

In [147]:
def big(letter):
    patterns

In [184]:
def big(letter):
    pattern={1:'  *  ',2:' *  * ',3:'*****',4:'*    *',5:'*    *',6:'*** ',7:'*    ',8:'     *'}
    alphabet={'A':[1,2,3,4,5],'B':[6,7,3,7,6]}
    for i in alphabet[letter.upper()]:
        print(pattern[i])

In [183]:
big('a')

  *
 *  *
*****
*    *
*    *

In [152]:
a={'a':[1,2,3]}
for i in a[]:
    print(i)

NameError: name 'A' is not defined

In [160]:
a='1'
b='arun'

In [161]:
a[b]

TypeError: string indices must be integers

In [162]:
alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}

In [163]:
type(alphabet)

dict

In [185]:
for i in alphabet['A']:
    print(i)

1
2
4
3
3

In [186]:
a=[1,2,3,4]

In [187]:
for i in a:
    print(i)

1
2
3
4

### map,filter and lambda

### map

the map function allows you to map afunction to an iterable object, so you can quicly call the sam function to each and every item in a sequence

In [188]:
def sub(num):
    'it will subtract -2 from your number'
    return num-2

In [189]:
my_list=[1,2,3,4,5,6,7,8,9,10]

In [193]:
a=map(sub,my_list)

In [194]:
list(a)

[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [207]:
def even(s):
    if len(s)%2==0:
        return True
    else:
        return s[0]

In [200]:
m=['arun','kumar']

In [209]:
a=map(even,m)

In [210]:
list(a)

[True, 'k']

In [215]:
def checks(s):
    if type(s)==str:
        return True
    else:
        return False

In [218]:
l1=['arun','kumar',1]

In [216]:
filter(checks,l1)

In [219]:
list(filter(checks,l1))

['arun', 'kumar']

In [220]:
def checkeven(s):
    if s%2==0:
        return True
    else:
        return False

In [221]:
l2=[2,3,4,5,6,7,8,9,0]

In [222]:
list(filter(checkeven,l2))

[2, 4, 6, 8, 0]

### lambda

lambda function allows you to create a anonymous function,so we can create a function quickly wiyh out define def
function objects are run when we call lambda expressions as same as def function
********************************lamda body is a single expression it's not a block of codes******************************

###### de constructing a function

In [223]:
def square(num):
    return num**2

In [224]:
square(4)

16

###### we can write above code in on only line

In [237]:
def square1(num):return num**2

In [238]:
square1(5)

25

In [229]:

def square(num): return num**2

In [230]:
square(5)

25

###### lambda function can be written as

In [239]:
lambda num: num**2

In [246]:
a=lambda num:num**2

In [247]:
a(5)

25

### whY:

In [248]:
#map()
###map(function, iterable object)

In [249]:
def square(num):
    return num**2

In [250]:
list(map(square,[2,3,4,5,6,7,8]))

[4, 9, 16, 25, 36, 49, 64]

### but in reality the map and filter function needs a function

In [253]:
my_list=[1,2,3,4,5,6,7,8,9]

In [254]:
list(map(lambda num:num**2,my_list))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### you can use lambda function for slicing

In [257]:
a=lambda s: s[0:len(s):2]

In [258]:
a('arun kumar')

'au ua'

In [259]:
b=lambda num:num[::-1]

In [260]:
b('arun kumar')

'ramuk nura'

In [266]:
list()

NameError: name 's' is not defined

In [289]:
def ind(s):
    for i in range(0,len(s)):
        print('at index of {} your value is {}'.format(i,s[i]) )

In [290]:
ind('arun')

at index of 0 your value is a
at index of 1 your value is r
at index of 2 your value is u
at index of 3 your value is n

In [294]:
list(map(ind,['arun','kumar','muduthana pelli']))

at index of 0 your value is a
at index of 1 your value is r
at index of 2 your value is u
at index of 3 your value is n
at index of 0 your value is k
at index of 1 your value is u
at index of 2 your value is m
at index of 3 your value is a
at index of 4 your value is r
at index of 0 your value is m
at index of 1 your value is u
at index of 2 your value is d
at index of 3 your value is u
at index of 4 your value is t
at index of 5 your value is h
at index of 6 your value is a
at index of 7 your value is n
at index of 8 your value is a
at index of 9 your value is
at index of 10 your value is p
at index of 11 your value is e
at index of 12 your value is l
at index of 13 your value is l
at index of 14 your value is i

[None, None, None]

In [316]:
list(map(lambda i,s:i+s[i] for i in range(0,len(s))))

NameError: name 's' is not defined

In [297]:
lambda a:a**2

In [313]:
f=lambda a,b:a,b

In [317]:
f(5,3)

TypeError: 'tuple' object is not callable

In [324]:
lambda a: a%2==0

In [325]:
my_list=[1,2,3,4,5,6,7,8,9,10]

In [326]:
list(map(lambda z:z**2,my_list))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [327]:
lambda a,b:a+b

In [343]:
a=lambda s,j:for i in range(1,len(s))

SyntaxError: invalid syntax (<ipython-input-343-f93ad74bad87>, line 1)

In [339]:
a('arun','kumar')

TypeError: unsupported operand type(s) for |: 'str' and 'str'

In [345]:
z=lambda a,b: if a>b return True

SyntaxError: invalid syntax (<ipython-input-345-91cda2460ccf>, line 1)

In [346]:
l1=[1,2,3,4,5,6,7,8,9]

In [351]:
list(filter(lambda s:s%2==0,l1))

[2, 4, 6, 8]

In [353]:
def even(l1):
    if l1%2==0:
        return True
    else:
       
        return False

In [354]:
list(filter(even,l1))

[2, 4, 6, 8]

#### nested loops and variable scopes in python

the vasibility of vari1) we are going to learn how python understands our variable assignment
2)when you create a variable name the name is stored in name space 
3)and varible names have scope and the scope determines the visibility of that variable into other parts of code

In [378]:
a=10

def aaaa():
    a=100
    return a

In [379]:
print(a)

10

In [380]:
print(aaaa())

100

### what's happening there

but how python understand which variable you are want
so here scope comes into picture
its very important to understand the variable assignments and calling

the idea of scope can be described by 3 general terms
1)Name assignments will create or change local names by default.
2)Name references search (at most) four scopes, these are:
     local
     enclosing functions
     global
     built-in
3)Names declared in global and nonlocal statements map assigned names to enclosing module and function scopes.

LEGB rule
  L: Local — Names assigned in any way within a function (def or lambda), and not declared global in that function.
E: Enclosing function locals — Names in the local scope of any and all enclosing functions (def or lambda), from inner to outer.
G: Global (module) — Names assigned at the top-level of a module file, or declared global in a def within the file.
B: Built-in (Python) — Names preassigned in the built-in names module : open, range, SyntaxError,...

In [382]:
a='arun'### it's the best example for first point
a###### it's the best exaple for 2nd point

'arun'

In [384]:
### loccal variable
###which specified in function local space

In [386]:
def local():
    x=50#it's the local variable because the x was specified inside a fumction so name space created inside x so i can use it
    return x

In [388]:
local()#when you call these function first the intreprator reads a local() function and then goes to the def local() function and reds any local variable in there again it's go for a egb reulw

50

In [394]:
x=50#it's a global variable 
def globa():
    print('hi',x)

In [396]:
globa()#when you call these function globa() the intreprator goes to a def globa() and check for any local variable as there is no any local variable si i'ts checked for any enclosed variable as there is no anyu enclosed a variable it's check for global so it print global variable

hi 50

##### enclosed

In [410]:
x='arun'
def greet():
    x=' kumar'
    def hello():
        print('hi'+x)#yes now you can check here x is when you call greet() function it goes through the that function and read hello() function call again goes to that function by over riding x='kumar' so it's a enclosed function variable
    hello()

In [411]:
greet()

hi kumar

In [414]:
#global

a='arun'
def fuu():
    def guu():
        print('hello '+a)
    guu()

In [416]:
fuu()#so from above we can seeb that first the intreprator read guu() and goes to that function and read variables and statements so there is no any variables and we have guu() so again goes to that function and print for global variable

hello arun

##### i want override the global variable in functions

In [427]:
a='arun kumar'
def aaaa():
    global a
    def bbb(a):
        print('hi '+a)
    bbb(a)

In [428]:
aaaa()

hi arun kumar

In [439]:
a='arun kumar'
def accc(a):
    print('hi '+a)

In [440]:
accc(a)

hi arun kumar

## *args key word

whwn a parameter starts with * it's it allowa you faor a orbinary of parameters,and function takes thema as a tuple nof values

In [441]:
def aa(*aru):
    return sum(aru)

In [442]:
aa(10,40,50,60)

160

In [445]:
def aru(a=0,b=0,c=0,d=0,e=0):
    return a+b+c+d+e

In [446]:
aru(10,20)

30

In [447]:
### so in order to avoid above problem we have a method called a *args keyworg let have a look at below programs

In [466]:
def arun(*aer):
    return aer

In [467]:
arun(10,20,30,40)

(10, 20, 30, 40)

In [456]:
def modulo(a,b):
    return a % b

In [464]:
def aku(*aru):
    return modulo(*aru)

In [465]:
aku(21,10)

1

## **kwargs

same like *args we have a **kwargs i.e *args create a tuple of values but **kwargs create a values oif a dictionary as key:value pairs

In [469]:
def aru(**aru):
    return aru

In [472]:
aru()

{}

In [476]:
def kwras(**args):
    if 'fruit'in args:
        return 'i like fruits'
    else:
        return "i don't like fruits"

In [477]:
kwras()

"i don't like fruits"

## so in order to make any sense dictionary you have to use a *args with **kwargs

In [491]:
def argskargs(*args,**kargs):
    return kargs

In [492]:
argskargs()

{}

In [482]:
def myfunc(*args, **kwargs):
    if 'fruit' and 'juice' in kwargs:
        print(f"I like {' and '.join(args)} and my favorite fruit is {kwargs['fruit']}")
        print(f"May I have some {kwargs['juice']} juice?")
    else:
        pass
        
myfunc('eggs','spam',fruit='cherries',juice='orange')

I like eggs and spam and my favorite fruit is cherries
May I have some orange juice?

In [495]:
def col(a):
    return a**3

In [496]:
col(2)

8

In [497]:
a=lambda v:v**3

In [498]:
a(2)

8

In [502]:
a=int(input('enter your number'))
def rang(low,high):
    if a>=low and a<=high:
        return 'you can say that the number in range'
    else:
        pass
    return 'you can say that the number not in range'
    
rang(5,10)

enter your number3

'you can say that the number not in range'

In [578]:
def upplow(s):
    e=[]
    f=[]
    for i in s:
        if i.isupper()==True:
            e.append(i)
        elif i==' ':
                continue
        elif i.islower():
            f.append(i)
        else:
            pass
    print(len(e))
    print(len(f))

In [581]:
upplow('aruNN')

2
3

In [584]:
def unique(l):
    a=[]
    for i in l:
        if i not in a:
            a.append(i)
        else:
            pass
    return a

In [585]:
unique([1,1,1,1,1,2,3,4,5,65,6,6,6,6,6,7])

[1, 2, 3, 4, 5, 65, 6, 7]

In [ ]:
l=