In [26]:
d={'name':'arun kumar','age':21,'height':5.6,'weight':58}

In [2]:
d

{'name': 'arun kumar', 'age': 21, 'height': 5.6, 'weight': 58}

In [3]:
type(d)

dict

In [4]:
empty_dict={}

In [5]:
type(empty_dict)

dict

In [6]:
d

{'name': 'arun kumar', 'age': 21, 'height': 5.6, 'weight': 58}

In [7]:
d['name']

'arun kumar'

In [8]:
d['age']

21

In [9]:
#d={'name':'arun kumar','age':21,'height':5.6,'weight':58,'name':'uday'}

In [11]:
d['name']

'uday'

In [14]:
d

{'name': 'arun kumar', 'age': 21, 'height': 5.6, 'weight': 58}

In [15]:
len(d)

4

In [16]:
max(d)

'weight'

In [17]:
min(d)

'age'

In [18]:
del d

In [21]:
d

{'name': 'arun kumar', 'age': 21, 'height': 5.6, 'weight': 58}

In [22]:
d

{'name': 'arun kumar', 'age': 21, 'height': 5.6, 'weight': 58}

In [23]:
help(d.get)

Help on built-in function get:

get(key, default=None, /) method of builtins.dict instance
    Return the value for key if key is in the dictionary, else default.

## Some built in functions of dictionary

In [24]:
d.clear()

In [27]:
d

{'name': 'arun kumar', 'age': 21, 'height': 5.6, 'weight': 58}

In [28]:
a=d.copy()

In [29]:
a

{'name': 'arun kumar', 'age': 21, 'height': 5.6, 'weight': 58}

In [31]:
d.fromkeys('arun','kumar')

{'a': 'kumar', 'r': 'kumar', 'u': 'kumar', 'n': 'kumar'}

In [32]:
d.get('name')

'arun kumar'

In [33]:
d.get('name',"NO")

'arun kumar'

In [35]:
d.get('address',"KKKKKKKKKK")

'KKKKKKKKKK'

In [36]:
d.items()

dict_items([('name', 'arun kumar'), ('age', 21), ('height', 5.6), ('weight', 58)])

In [40]:
dict([('name','arun')])

{'name': 'arun'}

In [41]:
d

{'name': 'arun kumar', 'age': 21, 'height': 5.6, 'weight': 58}

In [42]:
d.keys()

dict_keys(['name', 'age', 'height', 'weight'])

In [43]:
d.values()

dict_values(['arun kumar', 21, 5.6, 58])

In [45]:
d.pop('weight')

58

In [46]:
d

{'name': 'arun kumar', 'age': 21, 'height': 5.6}

In [47]:
d.popitem()

('height', 5.6)

In [51]:
d.setdefault('name')

'arun kumar'

In [50]:
help(d.setdefault)

Help on built-in function setdefault:

setdefault(key, default=None, /) method of builtins.dict instance
    Insert key with a value of default if key is not in the dictionary.

    Return the value for key if key is in the dictionary, else default.

In [52]:
d.setdefault('address','seethampeta')

'seethampeta'

In [53]:
d

{'name': 'arun kumar', 'age': 21, 'address': 'seethampeta'}

In [56]:
help(d.update)

Help on built-in function update:

update(...) method of builtins.dict instance
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

In [66]:
d.update({'llll':'kkkk'})

In [67]:
d

{'name': 'arun kumar', 'age': 21, 'address': 'seethampeta', 'llll': 'kkkk'}

In [71]:
d['name']='kumar'

In [72]:
d

{'name': 'kumar', 'age': 21, 'address': 'seethampeta', 'llll': 'kkkk'}

In [75]:
a={}
for i in range(ord('a'),ord('z')+1):
    a[chr(i)]=i
print(a)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [76]:
d

{'name': 'kumar', 'age': 21, 'address': 'seethampeta', 'llll': 'kkkk'}

In [77]:
d['kumar']=['kkkk']

In [78]:
d

{'name': 'kumar',
 'age': 21,
 'address': 'seethampeta',
 'llll': 'kkkk',
 'kumar': ['kkkk']}

## Dictionaries are mutable
Dictionary keys are unique and immutable
Values are muttable

In [81]:
b={}
b=b.fromkeys(['arun','kumar','thirupathi','raju'],21)

In [82]:
b

{'arun': 21, 'kumar': 21, 'thirupathi': 21, 'raju': 21}