In [1]:
arun={'name':'arun','sirname':'kumar','age':21,'height':5.9}

In [2]:
arun

{'name': 'arun', 'sirname': 'kumar', 'age': 21, 'height': 5.9}

### Dictinaries are hash tables
1)Theya are mutable
2)The keys are unique and immutable
3)The values are non-unique and mutable

In [4]:
arun

{'name': 'arun', 'sirname': 'kumar', 'age': 21, 'height': 5.9}

## Accessing the elemets from dict:

In [5]:
arun['name']

'arun'

In [6]:
arun['age']

21

### Editing the dictionaries

In [7]:
arun['sirname']='Muduthanapalli'

In [8]:
arun

{'name': 'arun', 'sirname': 'Muduthanapalli', 'age': 21, 'height': 5.9}

### Functions

In [9]:
len(arun)

4

In [10]:
max(arun)

'sirname'

In [11]:
min(arun)

'age'

In [12]:
a=arun.copy()

In [13]:
a

{'name': 'arun', 'sirname': 'Muduthanapalli', 'age': 21, 'height': 5.9}

In [14]:
arun.clear()

In [15]:
arun

{}

In [16]:
del arun

In [17]:
a

{'name': 'arun', 'sirname': 'Muduthanapalli', 'age': 21, 'height': 5.9}

In [18]:
b=a.fromkeys(['arun','kalyan','sai theja'],21)

In [19]:
b

{'arun': 21, 'kalyan': 21, 'sai theja': 21}

In [20]:
a

{'name': 'arun', 'sirname': 'Muduthanapalli', 'age': 21, 'height': 5.9}

In [21]:
a.keys()

dict_keys(['name', 'sirname', 'age', 'height'])

In [22]:
a.values()

dict_values(['arun', 'Muduthanapalli', 21, 5.9])

In [23]:
a.items()

dict_items([('name', 'arun'), ('sirname', 'Muduthanapalli'), ('age', 21), ('height', 5.9)])

In [24]:
a.pop('height')

5.9

In [25]:
a.popitem()

('age', 21)

In [27]:
a.get('age',"I don't know")

"I don't know"

In [32]:
#a.setdefault('age')

In [33]:
a

{'name': 'arun', 'sirname': 'Muduthanapalli', 'age': None}

In [38]:
a.setdefault('kumar',21)

21

In [39]:
a

{'name': 'arun', 'sirname': 'Muduthanapalli', 'age': None, 'kumar': 21}

In [40]:
a.update([('LLLLL','MMMMMM')])

In [42]:
print(a)

{'name': 'arun', 'sirname': 'Muduthanapalli', 'age': None, 'kumar': 21, 'LLLLL': 'MMMMMM'}

In [44]:
print(a)

{'name': 'arun', 'sirname': 'Muduthanapalli', 'age': None, 'kumar': 21, 'LLLLL': 'MMMMMM'}