In [2]:
in order to learn every programming language
u need to learn data types
these data types are small blocks to build your code
the following are the data types
    1)numbers
    2)strings
    3)list
    4)tuple
    5)dictionary
    6)set
numbers:
    every one know numbers are a numeric characters
    numbers are two types:
        1)integers
        2)floats
        integrs:
            whole numbers like 1,90,200,600,588
        floats:
            the numbers with decimal point like 90.08,90.09,100.222226
        strings:
            are nothing but texts or scentences
            ******you can write strings in ' '," " and """   """
            ex:'my name is arun kumar'
                "i'm a good boy"
                """my name is arun kumar
                and i'm from seethampeta"""
        lists:
            are like a list
            like a collection
            these are mutable  enclosed in []
        tuples:
            are same a lists but immutable enclosed ()
        dictionaries:
            are the collections with key and value pairs
        sets:
            are like a list with unique value and alphabetical order

SyntaxError: invalid syntax (<ipython-input-2-56e834173791>, line 1)

## strings

In [3]:
a='my name is arun kumar'

In [4]:
a

'my name is arun kumar'

In [5]:
b="i'm a good boy"

In [6]:
b

"i'm a good boy"

In [7]:
c="""my name is arun kumar
i'm from seethampeta
in karimnagar"""

In [8]:
c

"my name is arun kumar\ni'm from seethampeta\nin karimnagar"

In [9]:
type(c)

str

In [11]:
print(a,c,end=' ')

my name is arun kumar my name is arun kumar
i'm from seethampeta
in karimnagar

## lists

In [28]:
list1=['banans','apples','mangoes','coriander',('arun','kumar'),{'name':'arun','age':21,'status':'single'},{'a','a','b','c'}]

In [29]:
print(list1)

['banans', 'apples', 'mangoes', 'coriander', ('arun', 'kumar'), {'name': 'arun', 'age': 21, 'status': 'single'}, {'c', 'b', 'a'}]

In [30]:
a=list1[4]

In [31]:
type(a)

tuple

In [32]:
b=list1[5]

In [33]:
type(b)

dict

In [34]:
c=list1[6]

In [35]:
c

{'a', 'b', 'c'}

In [36]:
list(c)

['c', 'b', 'a']

In [37]:
type(c)

set

from the above you can understand that the data types are used for storing the data efficiently

ex:
    in order to store the single number:you can use integers
    group of numbers:integers in lists and tuples
    
    
    2)for percentages you can use floats 
    for group of floats you can use the tuples,dictionaries

tommorow:strings,lists,tuples
2 day:dictionaries,sets
3 day:if else
4 day:loops
5 practice