## strings

in python something in ' '," "and """""" is a valid string
string is nothing but scentence but it should be included in ' '

In [16]:
a='my name is arun kumar'

In [2]:
a

'my name is arun kumar'

In [3]:
type(a)

str

In [4]:
id(a)

2148094159648

In [6]:
a

'my name is arun kumar'

In [8]:
b=a[1:]

In [9]:
'M'+b

'My name is arun kumar'

In [10]:
a*4

'my name is arun kumarmy name is arun kumarmy name is arun kumarmy name is arun kumar'

In [11]:
len(a)

21

In [12]:
max(a)

'y'

In [13]:
min(a)

' '

In [14]:
del a

In [15]:
a

NameError: name 'a' is not defined

### functions

In [17]:
a

'my name is arun kumar'

In [18]:
b="My age is 21"

In [19]:
c="i'm a good boy"

In [20]:
c

"i'm a good boy"

In [21]:
d="""hi my name is arun kumar
and i"m a good boy
and i'm 21 years old"""

In [22]:
d

'hi my name is arun kumar\nand i"m a good boy\nand i\'m 21 years old'

In [23]:
print(d)

hi my name is arun kumar
and i"m a good boy
and i'm 21 years old

In [24]:
a

'my name is arun kumar'

In [25]:
a.count('a')

3

In [26]:
a.capitalize()

'My name is arun kumar'

In [27]:
b.casefold()

'my age is 21'

In [28]:
a.center(100,'x')

'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxmy name is arun kumarxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

In [29]:
a.endswith('mar')

True

In [30]:
a.expandtabs()

'my name is arun kumar'

In [31]:
d='arun \t kumar'

In [32]:
d.expandtabs(tabsize=10)

'arun       kumar'

In [33]:
len('       ')

7

In [34]:
a.find('a')

4

In [35]:
a.find('x')

-1

In [36]:
a.index('a')

4

In [37]:
a.index('x')

ValueError: substring not found

In [38]:
' '.join('arun')

'a r u n'

In [39]:
' '.join(['arun','kumar'])

'arun kumar'

In [40]:
a.lower()

'my name is arun kumar'

In [41]:
b

'My age is 21'

In [42]:
c

"i'm a good boy"

In [43]:
d

'arun \t kumar'

In [44]:
b.lower()

'my age is 21'

In [45]:
a.ljust(100,'a')

'my name is arun kumaraaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'

In [46]:
a.lstrip('m')

'y name is arun kumar'

In [47]:
b.isalnum()

False

In [48]:
b.isprintable()

True

In [49]:
a.partition('a')

('my n', 'a', 'me is arun kumar')

In [52]:
a.partition('mar')

('my name is arun ku', 'mar', '')

In [53]:
a.rfind('a')

19

In [54]:
a.rjust(100,'a')

'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaamy name is arun kumar'

In [55]:
a.rsplit('a')

['my n', 'me is ', 'run kum', 'r']

In [57]:
a.rstrip('r')

'my name is arun kuma'

In [58]:
a.rpartition('a')

('my name is arun kum', 'a', 'r')

In [59]:
a.split('a')

['my n', 'me is ', 'run kum', 'r']

In [60]:
a.strip()

'my name is arun kumar'

In [61]:
a.swapcase()

'MY NAME IS ARUN KUMAR'

In [62]:
a.startswith('my')

True

In [63]:
a.upper()

'MY NAME IS ARUN KUMAR'

In [64]:
a.title()

'My Name Is Arun Kumar'

### string formatting

In [65]:
1)place holder using %
2).format
3)formatted string litrals

SyntaxError: unmatched ')' (<ipython-input-65-08dd47c6f354>, line 1)

# % place holder

In [66]:
##s,r,u,i,d,r

In [67]:
'my name is %s'%'arun'

'my name is arun'

In [68]:
'my name is %r'%'arun'

"my name is 'arun'"

In [73]:
'my name is %u'%-21.0000

'my name is -21'

In [74]:
'my name is %i'%-21.9999999

'my name is -21'

In [75]:
'my nae is %d'%-22.777

'my nae is -22'

In [76]:
'my name is %s and my age is %u and my percentage is %5.2f'%('arun',21,97.99999)

'my name is arun and my age is 21 and my percentage is 98.00'

### .format

In [77]:
'my name is {}'.format('arun')

'my name is arun'

In [78]:
'my name is {1} and my age is {0}'.format(21,'arun')

'my name is arun and my age is 21'

In [79]:
'my name is {l} and my age is {n}'.format(n=21,l='arun')

'my name is arun and my age is 21'

In [80]:
'{0:10.2f}'.format(20.9999)

'     21.00'

In [83]:
'{0:*^10}'.format('arun')

'***arun***'

### f string

In [87]:
f'my name is {a}'

'my name is my name is arun kumar'

In [86]:
f'my name is {a!r}'

"my name is 'my name is arun kumar'"

In [88]:
result=100/77

In [89]:
result

1.2987012987012987

In [91]:
f'{result:10.5f}'

'   1.29870'