In [1]:
print('hello arun kumar!')

hello arun kumar!

In [3]:
print('hello arun kumar'+' hello world')

hello arun kumar hello world

In [6]:
print(1,2,3,4,5,6,'kkkk')

1 2 3 4 5 6 kkkk

In [9]:
print(a,b,c)

10 20 30

In [10]:
a,b,c=10,20,30

In [11]:
a

10

In [12]:
c

30

In [13]:
a=c

In [14]:
a

30

### strings

In [15]:
strings are nothing but scentences
something which is included in "",''and """""" is a string.
there are some methods for each and every data type.
so we are learning today

SyntaxError: invalid syntax (<ipython-input-15-ef1e30a31c3c>, line 1)

In [16]:
a='my name is arun kumar'

In [17]:
a

'my name is arun kumar'

In [18]:
type(a)

str

In [19]:
a='hello wprld!'

In [20]:
type(a)

str

In [21]:
print(a)

hello wprld!

In [22]:
a="my name is ar'un kumaran"

In [23]:
print(a)

my name is ar'un kumaran

from above you can understand that if you wnat to use ' in middle of string then string should be enclosed in a " "
so like this if you wnat to use ",' in middle of string which should be enclosed in """"""

In [24]:
a="""my name is ar'un ku"mar"""

In [25]:
a

'my name is ar\'un ku"mar'

In [26]:
print(a)

my name is ar'un ku"mar

# indexing and slicing

In [27]:
a

'my name is ar\'un ku"mar'

In [28]:
a='my name is arun kumar'

In [29]:
a

'my name is arun kumar'

In [30]:
a[9]

's'

In [31]:
a[10]

' '

In [32]:
a[-9]

'r'

In [35]:
a[20]==a[-1]

True

In [34]:
len(a)

21

In [36]:
a[0]==a[-21]

True

In [37]:
a[100]

IndexError: string index out of range

In [38]:
a[10]

' '

In [39]:
a[::1]

'my name is arun kumar'

In [41]:
a[::-1]

'ramuk nura si eman ym'

In [43]:
a[0:22:-1]

''

In [44]:
a[3:9:-1]

''

In [45]:
a[9:10:-1]

''

In [46]:
a[15:1:-1]

' nura si eman '

In [47]:
a[100:]

''

In [48]:
a[:100]

'my name is arun kumar'

# some built in functions and methods

In [49]:
len(a)

21

In [50]:
max(a)

'y'

In [51]:
min(a)

' '

In [56]:
clear(a)

In [57]:
a

'my name is arun kumar'

In [58]:
a

'my name is arun kumar'

In [60]:
del a

NameError: name 'a' is not defined

In [61]:
a

NameError: name 'a' is not defined

In [62]:
a='aa'

In [63]:
a

'aa'

In [64]:
del a

In [65]:
a

NameError: name 'a' is not defined

In [66]:
b='bbbbbbb'

In [67]:
b

'bbbbbbb'

In [68]:
print(b)

bbbbbbb

# Methods

In [69]:
a='my name is arun kumar'

In [70]:
a.capitalize()

'My name is arun kumar'

In [71]:
a.casefold()

'my name is arun kumar'

In [72]:
a.center(190,'x')

'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxmy name is arun kumarxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

In [73]:
a.count('a')

3

In [74]:
a.count('z')

0

In [76]:
a.count('100')

0

In [77]:
a.endswith('mar',9,199)

True

In [78]:
a.endswith('mar',100)

False

In [80]:
a.endswith('my',0,2)

True

In [81]:
a.find('a')

4

In [82]:
a.find('y')

1

In [83]:
a.find('z')

-1

In [84]:
a.index('a')

4

In [85]:
a.index('z')

ValueError: substring not found

In [86]:
a.isalnum()

False

In [87]:
b='a1'

In [88]:
b.isalnum()

True

In [89]:
a.isalpha()

False

In [90]:
c='aaaaaa'

In [91]:
c.isalpha()

True

In [92]:
a.isdecimal()

False

In [93]:
a.isdigit()

False

In [94]:
d='1111'

In [95]:
d.isdecimal()

True

In [96]:
d.isdigit()

True

In [97]:
a.isidentifier()

False

In [98]:
help(a.isidentifier)

Help on built-in function isidentifier:

isidentifier() method of builtins.str instance
    Return True if the string is a valid Python identifier, False otherwise.

    Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
    such as "def" or "class".

In [99]:
a_1='my name is arun kumar'

In [100]:
a_1.isidentifier()

False

In [101]:
a.islower()

True

In [102]:
d.isnumeric()

True

In [103]:
a.isprintable()

True

In [104]:
a='       '

In [105]:
a.isspace()

True

In [106]:
a='My name is arun kumar'

In [107]:
a.istitle()

False

In [108]:
b='My Name Is Arun Kumar'

In [109]:
b.istitle()

True

In [110]:
a.isupper()

False

In [111]:
a='AAAAAA'

In [112]:
a.isupper()

True

In [113]:
a='My name is arun kumar'

In [117]:
a.join(['arun','kumar'])

'arunMy name is arun kumarkumar'

In [118]:
' '.join(['arun','kumar'])

'arun kumar'

In [120]:
'arun'.join('kumar')

'karunuarunmarunaarunr'

In [121]:
a

'My name is arun kumar'

In [123]:
a.ljust(100,'a')

'My name is arun kumaraaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'

In [124]:
a.lower()

'my name is arun kumar'

In [125]:
a.lstrip()

'My name is arun kumar'

In [126]:
b='                  my name is arun kumar'

In [127]:
b.lstrip()

'my name is arun kumar'

In [128]:
c='xxxxxxarun kumar'

In [129]:
c.lstrip('x')

'arun kumar'

In [130]:
a.partition('arun kumar')

('My name is ', 'arun kumar', '')

In [132]:
' '.partition('my name is arun kumar')

(' ', '', '')

In [133]:
help(''.partition)

Help on built-in function partition:

partition(sep, /) method of builtins.str instance
    Partition the string into three parts using the given separator.

    This will search for the separator in the string.  If the separator is found,
    returns a 3-tuple containing the part before the separator, the separator
    itself, and the part after it.

    If the separator is not found, returns a 3-tuple containing the original string
    and two empty strings.

In [134]:
a.partition(' ')

('My', ' ', 'name is arun kumar')

In [135]:
a='arun'

In [136]:
a.partition('r')

('a', 'r', 'un')

In [137]:
a.replace('a','z')

'zrun'

In [138]:
a.rsplit('a')

['', 'run']

In [139]:
help(' '.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [140]:
a='my name is arun kumar'

In [142]:
a.rsplit('a')

['my n', 'me is ', 'run kum', 'r']

In [143]:
a.rfind('a')

19

In [144]:
a.rjust(100,'x')

'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxmy name is arun kumar'

In [145]:
a.rindex('a')

19

In [147]:
a.find('z')

-1

In [148]:
a.split('a')

['my n', 'me is ', 'run kum', 'r']

In [149]:
a.startswith('my')

True

In [154]:
a.splitlines(3)

['my name is arun kumar']

In [155]:
b="""my name is arun kumar
from seethampeta"""

In [161]:
print(b.splitlines(2))

['my name is arun kumar\n', 'from seethampeta']

In [164]:
help(' '.splitlines)

Help on built-in function splitlines:

splitlines(keepends=False) method of builtins.str instance
    Return a list of the lines in the string, breaking at line boundaries.

    Line breaks are not included in the resulting list unless keepends is given and
    true.

In [165]:
x='                 arun kumar                       '

In [166]:
x

'                 arun kumar                       '

In [167]:
x.strip()

'arun kumar'

In [168]:
x.title()

'                 Arun Kumar                       '

In [170]:
a.upper()

'MY NAME IS ARUN KUMAR'

In [172]:
a.zfill(100)

'0000000000000000000000000000000000000000000000000000000000000000000000000000000my name is arun kumar'

###  string formatting

In [173]:
'my name is {}'.format('arun')

'my name is arun'

In [178]:
'my name is {n} and my age is {a}'.format(a=21,n='arun')

'my name is arun and my age is 21'

In [179]:
a

'my name is arun kumar'

In [180]:
a==a

True

In [181]:
a

'my name is arun kumar'

In [182]:
a==b

False

In [184]:
b='is'

In [186]:
b in a

True

In [187]:
a

'my name is arun kumar'

# string formating

In [190]:
'my name is {0:^*3}'.format('arun')

ValueError: Invalid format specifier

In [193]:
'my name is arun kumar and my perrcentage is {}'.format(2.9999)

'my name is arun kumar and my perrcentage is 2.9999'

In [194]:
s='my name is arun kumar'

In [195]:
a[0]

'm'

In [196]:
a[10]

' '

In [197]:
s[10]

' '

In [198]:
sp15

NameError: name 'sp15' is not defined

In [201]:
s[16]

'k'

In [202]:
len(s)

21

In [203]:
s[20]==s[-1]

True

In [204]:
s[1]==s[-20]

True

In [205]:
s[100]

IndexError: string index out of range

In [206]:
s[100:]

''

In [207]:
len(s)

21

In [208]:
max(s)

'y'

In [209]:
min(s)

' '

In [210]:
s.capitalize()

'My name is arun kumar'

In [211]:
s.casefold()

'my name is arun kumar'

In [213]:
b=s.center(100,'x')

In [214]:
b

'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxmy name is arun kumarxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

In [215]:
s.count('a')

3

In [216]:
s.endswith('mar')

True

In [217]:
s.endswith('mar',1,10)

False

In [218]:
s.find('a')

4

In [219]:
s.index('a')

4

In [220]:
s.find('z')

-1

In [221]:
s.find('z')

-1

In [222]:
s.index('x')

ValueError: substring not found

In [223]:
' '.join('arunkumar')

'a r u n k u m a r'

In [224]:
' '.join(['arun','kumar'])

'arun kumar'

In [225]:
s.ljust(100,'x')

'my name is arun kumarxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

In [226]:
b

'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxmy name is arun kumarxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

In [227]:
b.lstrip()

'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxmy name is arun kumarxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

In [229]:
b.lstrip('x')

'my name is arun kumarxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

In [230]:
b.rstrip('x')

'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxmy name is arun kumar'

In [231]:
s.lower()

'my name is arun kumar'

In [232]:
c='MY NAME IS ARUNN'

In [233]:
c

'MY NAME IS ARUNN'

In [234]:
c.lower()

'my name is arunn'

In [235]:
s.partition(' ')

('my', ' ', 'name is arun kumar')

In [236]:
a='arun'

In [237]:
a.partition('a')

('', 'a', 'run')

In [238]:
a.rfind('a')

0

In [239]:
s.rstrip('x')

'my name is arun kumar'

In [241]:
s.rindex('a')

19

In [242]:
s.rsplit(' ')

['my', 'name', 'is', 'arun', 'kumar']

In [243]:
a

'arun'

In [244]:
a.rsplit('a')

['', 'run']

In [245]:
a.rsplit('r')

['a', 'un']

In [246]:
a.rpartition('a')

('', 'a', 'run')

In [247]:
a.rjust(100,'x')

'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxarun'

In [248]:
a.split('a')

['', 'run']

In [249]:
s

'my name is arun kumar'

In [250]:
s.split('a')

['my n', 'me is ', 'run kum', 'r']

In [253]:
s==b.strip('x')

True

In [254]:
s.swapcase()

'MY NAME IS ARUN KUMAR'

In [255]:
s.startswith('my')

True

In [256]:
s.upper()

'MY NAME IS ARUN KUMAR'

In [257]:
s.lower()

'my name is arun kumar'

In [264]:
'my name is {1}'.format('arun','kumar')

'my name is kumar'

## formatting

1)formatting with place holders %
2).format
3)f-string (formatted string literals)

In [1]:
##using % holder method

In [3]:
'hi my name is %s'%'arun'

'hi my name is arun'

In [4]:
'hi my name is %s and my age is %u'%('arun',21)

'hi my name is arun and my age is 21'

In [5]:
name='arun'

In [6]:
age=21

In [7]:
'hi my age is %u and my name is %s'%(age,name)

'hi my age is 21 and my name is arun'

In [8]:
#s,u,r,i,d

In [9]:
'hi my name is %s'%'arun'

'hi my name is arun'

In [10]:
'hi my name is %r'%'arun'

"hi my name is 'arun'"

In [11]:
'hi my age is %u'%21.7

'hi my age is 21'

In [12]:
'hi my age is %d'%21.8

'hi my age is 21'

In [13]:
'hi my age is %i'%21.9

'hi my age is 21'

### floating precision method

In [24]:
'hi my age is %10.9f'%21.9000

'hi my age is 21.900000000'

In [20]:
len('   21.90')

8

In [18]:
'hi my age is %0.2f'%21.9999

'hi my age is 22.00'

In [21]:
len('     21.90')

10

In [25]:
'hi my age is %2.1f'%20.99999

'hi my age is 21.0'

### format method

In [26]:
' '.format()

' '

In [27]:
'my name is {}'.format('arun')

'my name is arun'

In [29]:
'my name is {1} {0}'.format('kumar','arun')

'my name is arun kumar'

In [30]:
a='arun'
k='kumar'

In [32]:
'my name is {a} {k}'.format(k='kumar',a='arun')

'my name is arun kumar'

### padding and precision with float

In [38]:
'my age is {0:10.2f}'.format(21.99999)

'my age is      22.00'

In [42]:
'my percantage is {0:10.2f}'.format(99.99999)

'my percantage is     100.00'

### f-string

In [43]:
a='arun'

In [45]:
f'hi my name is {a} '

'hi my name is arun '

In [49]:
'hi my name is {:&>8}'.format('arun')

'hi my name is &&&&arun'

In [54]:
print('{0:*^8}|{1:*^8}'.format('fruits','price'))
print('{0:*^8}|{1:*^8}'.format('apple',100))

*fruits*|*price**
*apple**|**100***

In [56]:
f'my name is {a}'

'my name is arun'

In [57]:
result=10.999999999999

In [58]:
result

10.999999999999

In [60]:
f'my result is {result:10.2f}'

'my result is      11.00'