In [1]:
a=([1,2],3)

In [2]:
a[0]

[1, 2]

In [9]:
a[0][1]=5

In [10]:
a

([1, 5], 3)

In [11]:
d={'arun':3}

In [14]:
d['arun']='kumar'

In [13]:
d

{'arun': 5}

In [15]:
d

{'arun': 'kumar'}

In [16]:
s={1,2,3,4}

In [17]:
s

{1, 2, 3, 4}

In [18]:
s[0]=100

TypeError: 'set' object does not support item assignment

In [21]:
a=100
if a==10:
    print('True')
else:
    print('False')

False

In [25]:
age=100
if age<=10:
    print('he is kid')
elif age>10 and age<=21:
    print('he is teenage')
else:
    print('give correct age')

give correct age

In [27]:
if 1:
    print('my name is arun kumar')
else:
    print('my name is no')

my name is arun kumar

In [28]:
if 10:
    print('my name is arun kumar')
else:
    print('my name is no')

my name is arun kumar

In [30]:
if 0:
    print('my name is arun kumar')
else:
    print('my name is no')

my name is no

In [31]:
if False:
    print('my name is arun kumar')
else:
    print('my name is no')

my name is no

## since comparision operators alwyas gives you a True or False we can use in conditional statements

In [36]:
replay='no'

In [37]:
if replay=='yes':
    print('see you at bawarchi')
else:
    print('i was just kidding,see you later[never]')

i was just kidding,see you later[never]

In [1]:
[]==0

False

In [2]:
[1]==0

False

In [3]:
[1]==1

False

In [4]:
bool([])

False

In [5]:
bool({})

False

In [6]:
bool(())

False

In [7]:
bool(-23)

True

In [8]:
bool(0.00)

False

In [10]:
bool(0**100)

False

In [11]:
bool(int())

False

In [12]:
int(bool())

0

In [13]:
bool([""])

True

In [15]:
bool(int)

True

In [16]:
a=int

In [17]:
print(a)

<class 'int'>

In [18]:
a=int()

In [19]:
a

0

In [20]:
b=int

In [21]:
b

int

In [22]:
type(print())

NoneType

In [23]:
x=''

In [24]:
bool(x)

False

In [25]:
y=['']

In [26]:
bool(y)

True

In [28]:
a=[1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [34]:
a=[1,2,3,4,5,6,7,8,9,10]
for i in a:
    if i%2==0:
        print(i,'is yes')
    else:
        print(i,'is no')

1 is no
2 is yes
3 is no
4 is yes
5 is no
6 is yes
7 is no
8 is yes
9 is no
10 is yes

In [31]:
x=int(input())
if x%3==0:
    if x%5==0:
        print('yes')

15
yes

In [35]:
fruits=['kiwi','banana',1,'mango',[4,5,6,7],(3,4,5,6)]

In [38]:
for i in fruits[4]:
    print(i)

4
5
6
7

In [41]:
name='arun'
for n in name:
    print(n,end=' ')

a r u n

In [46]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [47]:
a='the quick brown fox jumps over a lazy dog'

In [48]:
for i in a:
    print(i)

t
h
e

q
u
i
c
k

b
r
o
w
n

f
o
x

j
u
m
p
s

o
v
e
r

a

l
a
z
y

d
o
g

In [49]:
len(a)

41

In [51]:
bool(' ')

True

In [54]:
list(range(20,1,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [55]:
a={}

In [56]:
type(a)

dict

In [58]:
a={,}

SyntaxError: invalid syntax (<ipython-input-58-b4072334831a>, line 1)

In [59]:
complex(1,2)

(1+2j)

In [61]:
a={}

In [62]:
type(a)

dict

In [63]:
a=dict()

In [64]:
type(a)

dict

In [65]:
a=1+2j

In [66]:
a

(1+2j)

In [67]:
b=complex(3,5)

In [68]:
a+b

(4+7j)

In [75]:
a=10
b=20
c=100
d=40

In [76]:
if a==10:
    print('a is 10')
    if b==20:
        print('b is 20')
        if c==30:
            print('c is 30')
            if d==50:
                print('d is 50')
            else:
                print('d is not 50')
        else:
            print('c is not 30')
    else:
        print('b is not 20')
else:
    print('a is not 10')

a is 10
b is 20
c is not 30

In [77]:
name='Mohith'
gender='male'
profession=['doctor','engineer','actor','dancer']
for a in profession:
    if a=='doctor':

SyntaxError: unexpected EOF while parsing (<ipython-input-77-98591c484487>, line 6)

In [96]:
persons = [{'Name':'Mohit','Gender':'M','Profession':'Teacher'},{'Name':'Kunal','Gender':'M','Profession':'engineer'},
           {'Name':'rashmi','Gender':'F','Profession':'chef'}]

{'Name': 'Mohit', 'Gender': 'M', 'Profession': 'Teacher'}
{'Name': 'Kunal', 'Gender': 'M', 'Profession': 'engineer'}
{'Name': 'rashmi', 'Gender': 'F', 'Profession': 'chef'}
Name
Gender
Profession

In [94]:
persons = [{'Name':'Mohit','Gender':'M','Profession':'Teacher'},{'Name':'Kunal','Gender':'M','Profession':'engineer'},
           {'Name':'rashmi','Gender':'F','Profession':'chef'}]

In [95]:
for i in persons:
    for a in i['Name']:
        print(a)

M
o
h
i
t
K
u
n
a
l
r
a
s
h
m
i

In [1]:
persons = [{'Name':'Mohit','Gender':'M','Profession':'Teacher'},{'Name':'Kunal','Gender':'M','Profession':'engineer'},
           {'Name':'rashmi','Gender':'F','Profession':'chef'}]

In [13]:
for i in persons:
    if i['Profession']=='Doctor':
        if i['Nmae'][0]=='M':
            print('doctor M')
        else:
            print('doctor')
    elif i['Profession']=='engineer':
        if i['Gender']=='M':
            print('engineer bhaiyya')
        else:
            print('engineer didi')
    elif i['Profession']=='actor':
        if i['Name'][-1]=='h':
            print('actor')
        else:
            print('lier')
    elif i['Profession']=='dancer':
            if i['Gender']=='M':
                print('dancer uncle')
    elif i['Profession']==' ':
        print('wow what do you actually do??')

engineer bhaiyya

In [14]:
persons = [{'Name':'Mohit','Gender':'M','Profession':'teacher'},
           {'Name':'Kunal','Gender':'M','Profession':'engineer'},
           {'Name':'Rashmi','Gender':'F','Profession':'doctor'},
           {'Name':'MalalaYusuf','Gender':'F','Profession':'doctor'}]

In [23]:
for i in persons:
    if i['Profession']=='Doctor':
        if i['Nmae'][0]=='M':
            print('doctor M')
        else:
            print('doctor')
    elif i['Profession']=='engineer':
        if i['Gender']=='M':
            print('engineer bhaiyya')
        else:
            print('engineer didi')
    elif i['Profession']=='actor':
        if i['Name'][-1]=='h':
            print('actor')
        else:
            print('lier')
    elif i['Profession']=='dancer':
            if i['Gender']=='M':
                print('dancer uncle')
    else:
        print('wow what do you actually do??')

wow what do you actually do??
engineer bhaiyya
wow what do you actually do??
wow what do you actually do??

In [16]:
    if person['Profession'] == 'doctor':
        if person['Name'][0] == 'M':
            print('doctor M')
        else:
            print('doctor')
    elif person['Profession'] == 'engineer':
        if person['Gender'] == 'M':
            print('engineer bhaiyya')
        else:
            print('engineer didi')
    elif person['Profession'] == 'actor':
        if person['Name'][-1] == 'h':
            print('actor')
        else:
            print('lier')
    else:
        print('Wow what do you actually do??')

NameError: name 'person' is not defined

In [17]:
for person in persons:
    print('person is',person)

person is {'Name': 'Mohit', 'Gender': 'M', 'Profession': 'teacher'}
person is {'Name': 'Kunal', 'Gender': 'M', 'Profession': 'engineer'}
person is {'Name': 'Rashmi', 'Gender': 'F', 'Profession': 'doctor'}
person is {'Name': 'MalalaYusuf', 'Gender': 'F', 'Profession': 'doctor'}

In [22]:
 if person['Profession'] == 'doctor':
        if person['Name'][0] == 'M':
            print('doctor M')
        else:
            print('doctor')
elif person['Profession'] == 'engineer':
        if person['Gender'] == 'M':
            print('engineer bhaiyya')
        else:
            print('engineer didi')
elif person['Profession'] == 'actor':
        if person['Name'][-1] == 'h':
            print('actor')
        else:
            print('lier')
 else:
        print('Wow what do you actually do??')

doctor M

In [24]:
persons = [{'Name':'Mohit','Gender':'M','Profession':'teacher'},
           {'Name':'Kunal','Gender':'M','Profession':'engineer'},
           {'Name':'Rashmi','Gender':'F','Profession':'doctor'},
           {'Name':'MalalaYusuf','Gender':'F','Profession':'doctor'}]

In [27]:
for i in persons:
    if i['Profession']=='doctor':
        if i['Name'][0]=='M':
            print('doctor M')
        else:
            print('doctor')
    elif i['Profession']=='engineer':
        if i['Gender']=='M':
            print('engineer bhaiyya')
        else:
            print('engineer didi')
    elif i['Profession']=='actor':
        if i['Name'][-1]=='h':
            print('actor')
        else:
            print('lier')
    elif i['Profession']=='dancer':
            if i['Gender']=='M':
                print('dancer uncle')
    else:
        print('wow what do you actually do??')

wow what do you actually do??
engineer bhaiyya
doctor
doctor M

In [28]:
element_list = [(1,2,3),(4,5,6,7),(8,9),(10,101),(11,12,13,14)]

In [29]:
element_list

[(1, 2, 3), (4, 5, 6, 7), (8, 9), (10, 101), (11, 12, 13, 14)]

In [31]:
for i in element_list:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9
10
101
11
12
13
14

In [32]:
Q Create a Program to create a pattern like this:
*
* *
* * *
* * * *
* * * * *

use for loop to do this.

SyntaxError: invalid syntax (<ipython-input-32-13d1440ba51d>, line 1)

In [69]:
for i in range(1,10):
    for j in range(1,10):
        if i>=j:
            print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [37]:
a=10

In [38]:
a

10

In [39]:
b=20

In [40]:
c=a+b

In [41]:
c

30

In [47]:
l=[1,2,3,5,-1,6]

In [50]:
for i in l:
    if i>0:
        print(i)
    else:
        continue
        print('hiiii')

1
2
3
5
6

In [51]:
for i in l:
    if i>0:
        print(i)
    else:
        break
        print('hiiii')

1
2
3
5

In [52]:
l=['prashanth','raju','raju kumar','arun','vishal']

In [58]:
for i,v in enumerate('arun',start=1):
    print(i,v)

1 a
2 r
3 u
4 n

In [60]:
a=[10,20,30,40]

In [64]:
for i in a:
    if i==200:
        print('Yes')
        break
else:
    print('No')
print('arun kumar')

No
arun kumar

In [65]:
for-else will run when there is a interuption between for and else like break

SyntaxError: invalid syntax (<ipython-input-65-9bd9bcd8c9e2>, line 1)

In [66]:
## example of for-else with out break

In [68]:
a=['apple','banana','kiwi']
for i in a:
    if i=='banana':
        print('fruit found')
    else:
        print('No fruit found')

No fruit found
fruit found
No fruit found

In [70]:
for i in range(1,11):
    print(i*5)

5
10
15
20
25
30
35
40
45
50

In [71]:
a='hello world!'

In [72]:
a[4::-1]

'olleh'

In [73]:
a='a'
print(ord(a))

97

In [84]:
t=99
print(ord('z'))

122

In [85]:
ascii : 97-122 for smaller
    for capital 65-90

SyntaxError: invalid syntax (<ipython-input-85-a4ddb594268e>, line 1)

In [88]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j)
    print('******************')

1
2
3
4
5
6
7
8
9
10
******************
2
4
6
8
10
12
14
16
18
20
******************
3
6
9
12
15
18
21
24
27
30
******************
4
8
12
16
20
24
28
32
36
40
******************
5
10
15
20
25
30
35
40
45
50
******************
6
12
18
24
30
36
42
48
54
60
******************
7
14
21
28
35
42
49
56
63
70
******************
8
16
24
32
40
48
56
64
72
80
******************
9
18
27
36
45
54
63
72
81
90
******************
10
20
30
40
50
60
70
80
90
100
******************

In [3]:
i=9
if i>4:
    if i>10:
        print(i+2)
    else:
        print(i)

9

In [6]:
for i in range(1,4):
    for j in range(1,3):
        for k in (1,3):
            print(i+j+k)

3
5
4
6
4
6
5
7
5
7
6
8

In [49]:
maxx=float('-inf')
minn=float('+inf')

a="The surprising Benefits of sarcasam"
b=a.split(' ')
for i in b:
    c=len(i)
    if c > maxx:
        maxx=c
        maxx_word=i
    if c < minn:
        minn=c
        minn_word=i
print(maxx,maxx_word)
print(minn,minn_word)

10 surprising
2 of

In [45]:
c

10

In [46]:
maxx

'The'

In [21]:
min(length)

ValueError: min() arg is an empty sequence

In [23]:
max([1])

1

In [25]:
float('arun')

ValueError: could not convert string to float: 'arun'

In [26]:
x=[1,2,3,4,5]

In [27]:
maxx=0

In [28]:
minn=1000

In [29]:
for i in x:
    if i>maxx:
        maxx=i

In [30]:
maxx

5

In [68]:
l=[]
for i in range(109,123):
    l.append(chr(i))
l

['m', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

TypeError: ord() expected string of length 1, but int found

In [5]:
a='apple is apple'

In [15]:
a='apple is apple'
max=float('-inf')
char=''
word=''
for i in a:
    if i in char:
        char=char+i
        d=char.count(i)
        if d>max:
            max=d
            word=i
    else:
        char=char+i
print(max)
print(word)

4
p

In [7]:
l1=[[1,2,3],[4,5,6]]
l2=[]

for i in l1:
    for j in i:
        l2.append(j)
l2

[1, 2, 3, 4, 5, 6]

In [11]:
l1
l2=[]

In [13]:
for i in l1:
    l2.extend(i)
l2

[1, 2, 3, 4, 5, 6]

In [12]:
l2

[]

In [14]:
a=[]

In [15]:
l1

[[1, 2, 3], [4, 5, 6]]

In [17]:
a=[]

In [18]:
a.extend([1,2,3])

In [19]:
a

[1, 2, 3]

In [36]:
m1=[[1,2,3],[4,5,6],[7,8,9]]

In [37]:
m2=[[100,200,300],[400,500,600],[700,800,900]]

In [38]:
ma=[]
mb=[]

In [39]:

for i in m1:
    for j in i:
        ma.append(j)
for a in m2:
    for b in a:
        mb.append(b)

In [40]:
ma

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
mb

[100, 200, 300, 400, 500, 600, 700, 800, 900]

In [41]:
ma+mb

[1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 200, 300, 400, 500, 600, 700, 800, 900]

In [45]:
ma

[1, 2, 3, 4, 5, 6, 7, 8, 9]

mb

In [46]:
mb

[100, 200, 300, 400, 500, 600, 700, 800, 900]

In [47]:
r1=[]
for x in ma:
    for y in mb:
        result=x+y
        r1.append(result)

In [87]:
m1=[[1,2,3],[4,5,6],[7,8,9]]
m2=[[100,200,300],[400,500,600],[700,800,900]]
a=[ ]
b=[ ]
result=[ ]
for i in m1:
    for j in i:
        a.append(j)
for x in m2:
    for y in x:
        b.append(y)

for m in range(0,9):
    result.append(a[m]+b[m])

In [88]:
result

[101, 202, 303, 404, 505, 606, 707, 808, 909]

In [73]:
b

[100, 200, 300, 400, 500, 600, 700, 800, 900]

In [61]:
type(a)

list

In [89]:
m1=[[1,2,3],[4,5,6],[7,8,9]]
m2=[[100,200,300],[400,500,600],[700,800,900]]
m3=[]
for i in range(len(m1)):
    for j in range(len(m1[0])):
        m3.extend(m1[i][j]+m2[i][j])
m3

TypeError: 'int' object is not iterable

In [90]:
l1 = (10,45,21,47,10,74,85)
l2 = (100,200,45,45,21,21,74,85)
l3=l1+l2

In [91]:
l3

(10, 45, 21, 47, 10, 74, 85, 100, 200, 45, 45, 21, 21, 74, 85)

In [97]:
l1=[1,3,5,7,9]
l2=[2,4,6,8,10]
l3=[ ]
for i in range(len(l1)):
    l3.append(l1[i])
    l3.insert(10,l2[i])
l3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [101]:
d={}
for i in range(ord('a'),ord('z')+1):
    d[chr(i)]=i
print(d)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [108]:
a={}

In [109]:
a['arun']='kumar'

In [104]:
a

{'arun': 'kumar'}

In [105]:
a.clear()

In [106]:
a

{}

In [107]:
help(a.get)

Help on built-in function get:

get(key, default=None, /) method of builtins.dict instance
    Return the value for key if key is in the dictionary, else default.

In [110]:
a

{'arun': 'kumar'}

In [111]:
a.get('arun')

'kumar'

In [112]:
a.get('python','Not found')

'Not found'

In [115]:
print(a.get('java'))

None

In [117]:
help(a.setdefault)

Help on built-in function setdefault:

setdefault(key, default=None, /) method of builtins.dict instance
    Insert key with a value of default if key is not in the dictionary.

    Return the value for key if key is in the dictionary, else default.

In [118]:
a.setdefault('age',21)

21

In [119]:
a

{'arun': 'kumar', 'age': 21}

In [120]:
a.setdefault('arun','kkkkk')

'kumar'

In [121]:
a

{'arun': 'kumar', 'age': 21}

In [185]:
a={'name':'arun kumar','age':21,'company':'hcl','salary':21000}

In [124]:
a

{'name': 'arun kumar', 'age': 21, 'company': 'hcl', 'salary': 21000}

In [126]:
a.setdefault('address','seethampeta')

'seethampeta'

In [128]:
print(a)

{'name': 'arun kumar', 'age': 21, 'company': 'hcl', 'salary': 21000, 'address': 'seethampeta'}

In [132]:
a.setdefault['name','aaa']

TypeError: 'builtin_function_or_method' object is not subscriptable

In [143]:
e={'a':97,'c':99}

In [144]:
for i in range(ord('a'),ord('z')+1):
    e.setdefault(chr(i),i)

In [146]:
print(e)

{'a': 97, 'c': 99, 'b': 98, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [148]:
print(e)

{'a': 97, 'c': 99, 'b': 98, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [152]:
if e in e:
    print('we have it')
else:
    print('we cant found it')

we cant found it

In [183]:
a='apple'
d={}
for i in a:
    if i in d:
        d[i]=d[i]+1
    else:
        d[i]=1
d

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [165]:
for i in a:
    if i in d:
        d[i]=d[i]+1
    else:
        d[i]=1

In [166]:
d

{'a': 2, 'p': 4, 'l': 2, 'e': 2}

In [161]:
l=[1,2,3,4]

In [164]:
for i in l:
    l.remove(l[i])

IndexError: list index out of range

In [179]:
l=[1,2,3,4,6]

In [180]:
len(l)

5

In [181]:
while len(l)>0:
    #print(l)
    l.pop()
    print(l)

[1, 2, 3, 4]
[1, 2, 3]
[1, 2]
[1]
[]

In [173]:
l

[]

In [184]:
a

'apple'

In [186]:
a

{'name': 'arun kumar', 'age': 21, 'company': 'hcl', 'salary': 21000}

In [187]:
help(a.pop)

Help on built-in function pop:

pop(...) method of builtins.dict instance
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

In [188]:
a

{'name': 'arun kumar', 'age': 21, 'company': 'hcl', 'salary': 21000}

In [194]:
a1='arun'
d={}
a1=d.fromkeys(a1,'arun')

In [191]:
a

{'name': 'arun kumar', 'age': 21, 'company': 'hcl', 'salary': 21000}

In [195]:
a1

{'a': 'arun', 'r': 'arun', 'u': 'arun', 'n': 'arun'}

In [196]:
a.update(a1)

In [198]:
print(a)

{'name': 'arun kumar', 'age': 21, 'company': 'hcl', 'salary': 21000, 'a': 'arun', 'r': 'arun', 'u': 'arun', 'n': 'arun'}

In [199]:
l1=['arun','kumar']

In [204]:
a={'a','b','c','b','x','d'}

In [205]:
a

{'a', 'b', 'c', 'd', 'x'}

In [202]:
type(a)

set

In [203]:
a

{'a', 'b', 'c'}

In [206]:
## it doesn't keep the order intact

In [207]:
for i in a:
    print(i)

b
d
c
a
x

In [208]:
a

{'a', 'b', 'c', 'd', 'x'}

In [209]:
a[0]

TypeError: 'set' object is not subscriptable

In [210]:
len(a)

5

a

In [211]:
a

{'a', 'b', 'c', 'd', 'x'}

In [212]:
for value in a:
    print(value)

b
d
c
a
x

In [214]:
hash('a')

662835209343714806

In [221]:
a={[1,2,3]:'kumar','arun':95}

TypeError: unhashable type: 'list'

In [216]:
a={1}

In [217]:
a

{1}

In [218]:
type(a)

set

In [219]:
type({})

dict

In [220]:
type(set())

set

In [222]:
type(set())

set

In [223]:
str()

''

In [224]:
a='arun kumar'

In [225]:
a

'arun kumar'

In [226]:
type(a)

str

In [231]:
d1={'arun':'kumar'}

In [233]:
d1=dict()

In [234]:
a=int()

In [235]:
a

0

In [236]:
l=[1,2,3,4,5,6]

In [237]:
l

[1, 2, 3, 4, 5, 6]

In [239]:
t=tuple(l)

In [240]:
t

(1, 2, 3, 4, 5, 6)

In [241]:
type(t)

tuple

In [242]:
a='arun'

In [243]:
int(a)

ValueError: invalid literal for int() with base 10: 'arun'

In [244]:
a=10/7

In [245]:
a

1.4285714285714286

In [246]:
tuple(a)

TypeError: 'float' object is not iterable

In [247]:
tuple('aaaaaa')

('a', 'a', 'a', 'a', 'a', 'a')

In [248]:
l=[1,1,1,2,3,4,5,5,5,5]

In [249]:
l

[1, 1, 1, 2, 3, 4, 5, 5, 5, 5]

In [250]:
set(l)

{1, 2, 3, 4, 5}

In [251]:
### WHY IT COULD BE A BAD IDEA
l=['python','d jango','python','kiwi','zebra']

In [252]:
set(l)

{'d jango', 'kiwi', 'python', 'zebra'}

In [258]:
l

['python', 'd jango', 'python', 'kiwi', 'zebra']

In [259]:
l2=[]

In [256]:
for i in l:
    if i in l2:
        pass
    else:
        l2.append(i)

In [257]:
l2

['python', 'd jango', 'kiwi', 'zebra']

In [260]:
l2

[]

In [261]:
l

['python', 'd jango', 'python', 'kiwi', 'zebra']

In [262]:
for i in l:
    if i in l2:
        pass
    if i not in l2:
        l2.append(i)

In [263]:
l2

['python', 'd jango', 'kiwi', 'zebra']

In [264]:
## Union,Intersection,Difference,Symmetric difference, Subset of,Superset of

In [265]:
s1={10,20,30,40,50,60}

In [266]:
s2={40,50,60,70,80,90}

In [267]:
s1.subset(s2)

AttributeError: 'set' object has no attribute 'subset'

In [291]:
s1={10,20,30}
s2={10,20,30,40,50,60}

In [277]:
s1.issubset(s2)

True

In [278]:
s2.issubset(s1)

False

In [271]:
s2.issuperset(s1)

True

In [272]:
s1.issuperset(s2)

False

In [279]:
cell_users={'oppo','s6','pro max','real me','red mi','nokia'}

In [281]:
s1

{10, 20, 30}

In [282]:
## adding

s1.add(200)
s1

{10, 20, 30, 200}

In [283]:
s1.add(1)

In [284]:
s1

{1, 10, 20, 30, 200}

In [286]:
s1.pop()

1

ggg

In [287]:
s1.clear()

In [288]:
s1

set()

In [293]:
del s2

In [294]:
s2

NameError: name 's2' is not defined

In [295]:
s1

{10, 20, 30}

In [296]:
s1.pop()

10

In [297]:
s1

{20, 30}

In [298]:
s1.pop()

20

In [299]:
s1

{30}

In [300]:
s1={90,10,20}

In [301]:
s1

{10, 20, 90}

In [302]:
s1.pop()

90

In [303]:
s1

{10, 20}

In [304]:
s1.pop()

10

In [305]:
s1

{20}

In [306]:
del s1

In [307]:
s1={90,20,10,40}

In [308]:
s1

{10, 20, 40, 90}

In [309]:
s1.pop()

40

In [310]:
s1

{10, 20, 90}

In [311]:
s1.pop()

90

In [312]:
s1

{10, 20}

In [314]:
s1.discard(10)

In [315]:
s1

{20}

In [318]:
s=set()

In [319]:
s.add(10)

In [320]:
s

{10}

In [322]:
sum([1,2,3])

6

In [323]:
sum=7

In [324]:
sum([9,9])

TypeError: 'int' object is not callable

In [2]:
a=10

In [3]:
a

10

In [4]:
a

10

In [5]:
b=20

In [6]:
b

20

In [7]:
c=a+b

In [8]:
c

30

In [9]:
a='apple is apple'

In [10]:
a

'apple is apple'

In [11]:
b=[ ]

In [13]:
for i in a:
    if i in b:
        b.append(i)
    elif i not in b:
        b.append(i)

In [18]:
a='apple is appple'
max=float('-inf')
char=''
word=''
for i in a:
    if i in char:
        char=char+i
        d=char.count(i)
        if d>max:
            max=d
            word=i
    else:
        char=char+i
print(max)
print(word)

5
p

## List

You are making a list of students

In [17]:
students=['arun','maharshi','raju','uday','kalyan']

In [20]:
students

['arun', 'maharshi', 'raju', 'uday', 'kalyan']

## list are hetrogenous i.e. it consists of any data type
## those are order i.e. it supports indexing and slicing

In [21]:
students

['arun', 'maharshi', 'raju', 'uday', 'kalyan']

## lists are mutable i.e. you can edit

In [22]:
students[1]

'maharshi'

In [23]:
students[0]

'arun'

In [24]:
students[0]='kumar'

In [25]:
students

['kumar', 'maharshi', 'raju', 'uday', 'kalyan']

In [26]:
students

['kumar', 'maharshi', 'raju', 'uday', 'kalyan']

In [28]:
students[2]='jammikunta'

In [33]:
students[1::1]

['maharshi', 'jammikunta', 'uday', 'kalyan']

In [34]:
students[2::-1]

['jammikunta', 'maharshi', 'kumar']

In [35]:
students[::-1]

['kalyan', 'uday', 'jammikunta', 'maharshi', 'kumar']

In [36]:
a=students[::]

In [37]:
a

['kumar', 'maharshi', 'jammikunta', 'uday', 'kalyan']

In [38]:
type(a)

list

In [39]:
len(a)

5

In [2]:
a=[1,2,3,4,5,6]

In [3]:
max(a)

6

In [4]:
min(a)

1

In [5]:
len(a)

6

## Built in functions

In [6]:
a

[1, 2, 3, 4, 5, 6]

In [7]:
a.append(7)

In [8]:
a

[1, 2, 3, 4, 5, 6, 7]

In [10]:
a.append(101000)

In [11]:
a

[1, 2, 3, 4, 5, 6, 7, 101000]

In [12]:
a.clear()

In [13]:
a

[]

In [14]:
type(a)

list

In [15]:
a.copy()

[]

In [18]:
students

['arun', 'maharshi', 'raju', 'uday', 'kalyan']

In [20]:
b=students.copy()

In [21]:
b

['arun', 'maharshi', 'raju', 'uday', 'kalyan']

In [22]:
b.count('arun')

1

In [23]:
b.extend('arun kumar')

In [25]:
print(b)

['arun', 'maharshi', 'raju', 'uday', 'kalyan', 'a', 'r', 'u', 'n', ' ', 'k', 'u', 'm', 'a', 'r']

In [26]:
b.extend([1,2,3,4,5,6,7,8,9])

In [28]:
print(b)

['arun', 'maharshi', 'raju', 'uday', 'kalyan', 'a', 'r', 'u', 'n', ' ', 'k', 'u', 'm', 'a', 'r', 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
b.index('arun')

0

In [32]:
b.insert(10,'jjjjjjj')

In [34]:
print(b)

['arun', 'maharshi', 'raju', 'uday', 'kalyan', 'a', 'r', 'u', 'n', ' ', 'jjjjjjj', 'k', 'u', 'm', 'a', 'r', 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
b.pop()

9

In [37]:
b.remove('jjjjjjj')

In [39]:
print(b)

['arun', 'maharshi', 'raju', 'uday', 'kalyan', 'a', 'r', 'u', 'n', ' ', 'k', 'u', 'm', 'a', 'r', 1, 2, 3, 4, 5, 6, 7, 8]

In [41]:
print(b)

['arun', 'maharshi', 'raju', 'uday', 'kalyan', 'a', 'r', 'u', 'n', ' ', 'k', 'u', 'm', 'a', 'r', 1, 2, 3, 4, 5, 6, 7, 8]

In [42]:
b.reverse()

In [44]:
print(b)

[8, 7, 6, 5, 4, 3, 2, 1, 'r', 'a', 'm', 'u', 'k', ' ', 'n', 'u', 'r', 'a', 'kalyan', 'uday', 'raju', 'maharshi', 'arun']

In [45]:
b.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [46]:
a=['arun','kumar','kiwi','banana']

In [47]:
a.sort()

In [48]:
a

['arun', 'banana', 'kiwi', 'kumar']